In [38]:
import pandas as pd
import os
import geopandas as gpd
import re # regular expression
import numpy as np

In [39]:
# GLOBAL VARIABLES

# don't update these that have been locked
lstLockPlanArea = ['WFRC']

# excel spreadsheet copied to data/udot folder from https://drive.google.com/file/d/1rDXm0ObugGR1zXgWUuVbzWHNt-Xs1xru/view
fnExcelAADTHistory = 'data/udot/AADTHistory.xlsx'
fnAADT2022 = 'data/udot/Traffic on Utah Highways 2022.xlsx - AADT2022.csv' # added Feb 16 2024
sourceExcelAADTSegData = 'Segments_State_20231221_Draft.shp'

# segment shapefile with AADT and previous forecasts - copied from 'A:/1 - TDM/3 - Model Dev/1 - WF/1 - Official Release/v9x/v9.0/WF TDM v9.0 - official/1_Inputs/6_Segment/Segments_WF - 2023-08-01.shp'
fnSegmentsShapefiles = [
    'data/segments/Segments_State_20231221_Draft.shp',
    'data/segments/WFv901_Segments_20240226_Draft.shp',
    'data/segments/WF_Segments_20240326_Draft.shp'
]
# filter by PLANAREA in segments shapefile
#filterPlanArea = ['WFRC','MAG'] # must be an array... if only single item, the still include []

# Get AADT and Previous Forecasts from Segment Shapefiles

In [109]:
# read in segment shapefile

gdfSegments = pd.DataFrame()

for file in fnSegmentsShapefiles:
    _df = gpd.read_file(file)
    _df['SOURCE'] = os.path.basename(file)
    gdfSegments = pd.concat([gdfSegments, _df])

display(gdfSegments)

# show columns
print(gdfSegments.columns.tolist())

gdfSegments.to_csv('intermediate/segments.gdf')

,Id,SEGID,BMP,EMP,DISTANCE,PLANAREA,AADT2019,SUBAREAID,CO_FIPS,F_AREA,...,SUTRK2014,CUTRK2014,SUTRK2013,CUTRK2013,SUTRK2012,CUTRK2012,SUTRK2011,CUTRK2011,SUTRK2010,CUTRK2010
0,0,0006_000.0,0.000,0.665,0.666642,UDOT,415.0,0.0,27.0,UDOT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0006_000.7,0.665,16.022,15.369870,UDOT,415.0,0.0,27.0,UDOT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0006_016.0,16.022,46.017,30.002021,UDOT,415.0,0.0,27.0,UDOT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0006_046.0,46.017,60.218,14.194335,UDOT,372.0,0.0,27.0,UDOT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0006_060.2,60.218,77.545,17.323272,UDOT,372.0,0.0,27.0,UDOT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,0,UTA_7593,0.000,0.000,0.894464,WFRC,0.0,0.0,35.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
5339,0,UTA_7594,0.000,0.000,0.665073,WFRC,0.0,0.0,35.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
5340,0,WFRC_8430,0.000,0.000,1.135216,WFRC,0.0,1.0,35.0,NaN,...,0,0,0,0,0.0,0,0,0,0,0
5341,0,UTA_9556,0.000,0.000,3.869188,WFRC,0.0,1.0,35.0,NaN,...,0,0,0,0,0.0,0,0,0,0,0
5342,0,UTA_9560,0.000,0.000,3.607666,WFRC,0.0,1.0,35.0,NaN,...,0,0,0,0,0.0,0,0,0,0,0

['Id', 'SEGID', 'BMP', 'EMP', 'DISTANCE', 'PLANAREA', 'AADT2019', 'SUBAREAID', 'CO_FIPS', 'F_AREA', 'CCSGROUP19', 'FACMANADJ', 'FAC_APR', 'FAC_AUG', 'FAC_DEC', 'FAC_FAL', 'FAC_FEB', 'FAC_FRI', 'FAC_JAN', 'FAC_JUL', 'FAC_JUN', 'FAC_MAR', 'FAC_MAX', 'FAC_MAXMO', 'FAC_MAY', 'FAC_MON', 'FAC_NOV', 'FAC_OCT', 'FAC_SAT', 'FAC_SEP', 'FAC_SPR', 'FAC_SUM', 'FAC_SUN', 'FAC_THU', 'FAC_TUE', 'FAC_WDAVG', 'FAC_WEAVG', 'FAC_WED', 'FAC_WEMAX', 'FAC_WIN', 'geometry', 'SOURCE', 'ROUTE', 'F2019', 'F2023', 'F2028', 'F2032', 'F2042', 'F2050', 'CH19TO50', 'CH19TO23', 'CH23TO28', 'CH28TO32', 'CH32TO42', 'CH42TO50', 'AADTSTN', 'AADT2022', 'AADT2021', 'AADT2020', 'AADT2018', 'AADT2017', 'AADT2016', 'AADT2015', 'AADT2014', 'AADT2013', 'AADT2012', 'AADT2011', 'AADT2010', 'AADT2009', 'AADT2008', 'AADT2007', 'AADT2006', 'AADT2005', 'AADT2004', 'AADT2003', 'AADT2002', 'AADT2001', 'AADT2000', 'AADT1999', 'AADT1998', 'AADT1997', 'AADT1996', 'AADT1995', 'AADT1994', 'AADT1993', 'AADT1992', 'AADT1991', 'AADT1990', 'AADT1989', 'AADT1988', 'AADT1987', 'AADT1986', 'AADT1985', 'AADT1984', 'AADT1983', 'AADT1982', 'AADT1981', 'SUTRK2022', 'CUTRK2022', 'SUTRK2021', 'CUTRK2021', 'SUTRK2020', 'CUTRK2020', 'SUTRK2019', 'CUTRK2019', 'SUTRK2018', 'CUTRK2018', 'SUTRK2017', 'CUTRK2017', 'SUTRK2016', 'CUTRK2016', 'SUTRK2015', 'CUTRK2015', 'SUTRK2014', 'CUTRK2014', 'SUTRK2013', 'CUTRK2013', 'SUTRK2012', 'CUTRK2012', 'SUTRK2011', 'CUTRK2011', 'SUTRK2010', 'CUTRK2010']

In [89]:
lstLockedSegments = gdfSegments[gdfSegments['PLANAREA'].isin(lstLockPlanArea)]['SEGID'].to_list()
lstLockedSegments

['0013_000.0',
 '0013_000.6',
 '0013_001.3',
 '0013_001.6',
 '0013_001.8',
 '0013_002.5',
 '0013_002.9',
 '0013_003.3',
 '0013_004.9',
 '0013_005.6',
 '0015_285.8',
 '0015_286.8',
 '0015_288.2',
 '0015_289.8',
 '0015_291.4',
 '0015_292.6',
 '0015_293.0',
 '0015_293.6',
 '0015_295.6',
 '0015_297.9',
 '0015_299.0',
 '0015_300.3',
 '0015_301.7',
 '0015_302.5',
 '0015_303.4',
 '0015_304.7',
 '0015_305.2',
 '0015_305.9',
 '0015_306.3',
 '0015_307.2',
 '0015_307.5',
 '0015_307.6',
 '0015_307.8',
 '0015_308.4',
 '0015_309.3',
 '0015_310.2',
 '0015_311.4',
 '0015_311.8',
 '0015_313.7',
 '0015_315.3',
 '0015_316.9',
 '0015_317.6',
 '0015_318.3',
 '0015_319.5',
 '0015_321.0',
 '0015_322.0',
 '0015_323.8',
 '0015_324.4',
 '0015_325.6',
 '0015_328.7',
 '0015_330.1',
 '0015_331.6',
 '0015_332.9',
 '0015_334.1',
 '0015_335.8',
 '0015_337.0',
 '0015_338.5',
 '0015_339.1',
 '0015_340.3',
 '0015_342.0',
 '0015_343.1',
 '0015_343.9',
 '0015_345.0',
 '0015_346.7',
 '0015_349.4',
 '0015_351.9',
 '0015_357.6',
 '0015_362.0',
 '0015_363.7',
 '0015_365.5',
 '0026_000.0',
 '0026_000.2',
 '0026_000.4',
 '0026_000.7',
 '0026_001.0',
 '0026_001.3',
 '0026_001.8',
 '0026_002.7',
 '0026_003.0',
 '0026_003.2',
 '0026_003.3',
 '0026_003.5',
 '0037_000.0',
 '0037_001.0',
 '0037_001.5',
 '0037_002.0',
 '0037_003.0',
 '0037_003.5',
 '0037_004.1',
 '0037_004.5',
 '0037_005.7',
 '0037_006.2',
 '0037_006.7',
 '0037_007.2',
 '0037_009.0',
 '0037_009.6',
 '0037_010.0',
 '0037_010.5',
 '0037_011.5',
 '0038_000.0',
 '0038_000.5',
 '0038_003.2',
 '0039_000.0',
 '0039_000.5',
 '0039_001.5',
 '0039_002.4',
 '0039_003.5',
 '0039_004.0',
 '0039_004.3',
 '0039_005.1',
 '0039_006.0',
 '0039_006.1',
 '0039_006.2',
 '0039_006.4',
 '0039_007.3',
 '0039_007.7',
 '0039_007.9',
 '0039_008.7',
 '0048_000.0',
 '0048_000.5',
 '0048_001.0',
 '0048_001.5',
 '0048_002.0',
 '0048_002.5',
 '0048_003.3',
 '0048_003.5',
 '0048_003.9',
 '0048_004.1',
 '0053_000.1',
 '0053_000.9',
 '0053_001.5',
 '0053_001.7',
 '0053_001.8',
 '0060_000.0',
 '0060_000.8',
 '0060_003.7',
 '0060_004.4',
 '0060_007.4',
 '0067_000.0',
 '0067_001.0',
 '0067_004.0',
 '0067_004.1',
 '0067_007.3',
 '0067_010.1',
 '0068_036.0',
 '0068_038.1',
 '0068_039.2',
 '0068_039.8',
 '0068_040.1',
 '0068_040.8',
 '0068_041.3',
 '0068_042.3',
 '0068_043.3',
 '0068_043.8',
 '0068_045.1',
 '0068_045.8',
 '0068_046.8',
 '0068_047.2',
 '0068_047.8',
 '0068_048.3',
 '0068_049.3',
 '0068_050.3',
 '0068_050.7',
 '0068_051.3',
 '0068_052.1',
 '0068_052.3',
 '0068_053.1',
 '0068_053.3',
 '0068_054.3',
 '0068_054.8',
 '0068_055.7',
 '0068_056.2',
 '0068_056.3',
 '0068_056.8',
 '0068_057.3',
 '0068_058.1',
 '0068_058.7',
 '0068_059.1',
 '0068_059.5',
 '0068_060.4',
 '0068_060.8',
 '0068_061.8',
 '0068_062.6',
 '0068_063.8',
 '0068_064.4',
 '0068_065.7',
 '0068_066.6',
 '0068_067.3',
 '0068_068.2',
 '0068_068.7',
 '0068_068.9',
 '0068_069.0',
 '0068_069.2',
 '0068_069.6',
 '0068_070.0',
 '0068_070.2',
 '0068_070.5',
 '0071_000.0',
 '0071_000.4',
 '0071_001.4',
 '0071_002.4',
 '0071_002.9',
 '0071_004.1',
 '0071_004.7',
 '0071_005.0',
 '0071_005.1',
 '0071_005.5',
 '0071_006.0',
 '0071_006.6',
 '0071_007.2',
 '0071_007.7',
 '0071_008.2',
 '0071_009.2',
 '0071_009.7',
 '0071_010.2',
 '0071_010.7',
 '0071_011.5',
 '0071_011.7',
 '0071_012.2',
 '0071_012.6',
 '0071_012.7',
 '0071_013.3',
 '0071_014.1',
 '0071_014.6',
 '0071_015.7',
 '0071_016.5',
 '0071_017.4',
 '0071_018.3',
 '0071_019.2',
 '0071_019.6',
 '0071_020.0',
 '0071_020.6',
 '0071_021.2',
 '0071_021.7',
 '0071_021.9',
 '0071_022.2',
 '0071_022.3',
 '0079_000.0',
 '0079_000.7',
 '0079_001.9',
 '0079_002.5',
 '0079_002.9',
 '0079_003.0',
 '0079_003.3',
 '0079_003.4',
 '0079_003.6',
 '0079_003.8',
 '0079_003.9',
 '0079_004.3',
 '0079_004.9',
 '0079_005.0',
 '0079_005.1',
 '0080_101.5',
 '0080_104.3',
 '0080_111.3',
 '0080_112.5',
 '0080_113.3',
 '0080_114.3',
 '0080_115.3',
 '0080_117.7',
 '0080_122.4',
 '0080_123.2',
 '0080_124.1',
 '0080_125.1',
 '0080_126.8',
 '0080_127.0',
 '0080_127.8',
 '0084_081.0',
 '0084_081.7',
 '0084_084.6',
 '0084_087.8',
 '0085_003.0',
 '0085_003.5',
 '0085_004.5',
 '0085_005.8',
 '0085_006.0',
 '0085_006.6',
 '0085_007.0',
 '0085_007.9',
 '0085_008.1',
 '0085_008.9',
 '0085_010.0',
 '0085_010.3',
 '0085_010.8',
 '0085_011.3',
 '0085_011.9',
 '0085_012.5',
 '0085_013.9',
 '0085_015.5',
 '0085_017.7',
 '0085_018.7',
 '0089_362.5',
 '0089_363.3',
 '0089_363.8',
 '0089_364.3',
 '0089_364.8',
 '0089_365.5',
 '0089_366.3',
 '0089_366.8',
 '0089_367.2',
 '0089_368.0',
 '0089_368.4',
 '0089_369.0',
 '0089_369.8',
 '0089_369.9',
 '0089_370.6',
 '0089_371.0',
 '0089_371.5',
 '0089_372.0',
 '0089_372.2',
 '0089_372.6',
 '0089_372.7',
 '0089_373.6',
 '0089_374.5',
 '0089_375.3',
 '0089_375.7',
 '0089_376.2',
 '0089_376.8',
 '0089_377.3',
 '0089_377.9',
 '0089_378.0',
 '0089_378.3',
 '0089_378.5',
 '0089_378.6',
 '0089_378.8',
 '0089_378.9',
 '0089_379.1',
 '0089_379.2',
 '0089_379.4',
 '0089_379.5',
 '0089_379.8',
 '0089_380.0',
 '0089_380.3',
 '0089_380.7',
 '0089_381.0',
 '0089_381.3',
 '0089_381.6',
 '0089_383.5',
 '0089_384.6',
 '0089_384.9',
 '0089_385.0',
 '0089_385.2',
 '0089_385.7',
 '0089_386.3',
 '0089_386.8',
 '0089_387.2',
 '0089_387.6',
 '0089_387.8',
 '0089_388.4',
 '0089_389.1',
 '0089_396.1',
 '0089_396.8',
 '0089_397.6',
 '0089_398.7',
 '0089_399.7',
 '0089_400.5',
 '0089_400.9',
 '0089_401.4',
 '0089_402.2',
 '0089_403.2',
 '0089_404.3',
 '0089_405.7',
 '0089_406.4',
 '0089_406.6',
 '0089_407.0',
 '0089_408.1',
 '0089_408.4',
 '0089_409.3',
 '0089_409.6',
 '0089_410.0',
 '0089_410.2',
 '0089_410.5',
 '0089_410.7',
 '0089_411.1',
 '0089_411.3',
 '0089_411.7',
 '0089_412.2',
 '0089_412.4',
 '0089_412.9',
 '0089_413.1',
 '0089_413.3',
 '0089_413.6',
 '0089_413.9',
 '0089_414.2',
 '0089_414.4',
 '0089_414.5',
 '0089_414.9',
 '0089_415.4',
 '0089_415.9',
 '0089_416.5',
 '0089_417.0',
 '0089_417.4',
 '0089_417.9',
 '0089_418.2',
 '0089_418.6',
 '0089_419.3',
 '0089_420.1',
 '0089_420.3',
 '0089_421.7',
 '0089_422.5',
 '0089_422.7',
 '0089_423.4',
 '0089_423.8',
 '0089_425.0',
 '0089_427.1',
 '0089_427.7',
 '0089_428.1',
 '0089_428.8',
 '0089_430.3',
 '0089_432.1',
 '0089_433.3',
 '0090_000.0',
 '0090_000.2',
 '0090_000.5',
 '0091_000.1',
 '0091_001.0',
 '0091_001.4',
 '0091_001.6',
 '0091_002.0',
 '0091_003.7',
 '0093_000.0',
 '0093_000.1',
 '0097_000.0',
 '0097_000.5',
 '0097_001.1',
 '0097_001.5',
 '0097_002.0',
 '0097_003.1',
 '0097_003.6',
 '0097_004.1',
 '0097_004.4',
 '0097_005.1',
 '0097_005.3',
 '0103_000.0',
 '0104_000.0',
 '0104_000.7',
 '0104_001.0',
 '0104_001.8',
 '0104_002.5',
 '0105_000.0',
 '0105_000.2',
 '0105_000.5',
 '0105_000.7',
 '0105_000.8',
 '0106_000.0',
 '0106_000.3',
 '0106_000.4',
 '0106_000.8',
 '0106_001.1',
 '0106_002.0',
 '0106_002.5',
 '0106_003.0',
 '0106_003.6',
 '0106_006.1',
 '0106_007.3',
 '0106_008.0',
 '0106_008.3',
 '0106_009.0',
 '0106_009.4',
 '0107_000.0',
 '0107_000.2',
 '0108_000.0',
 '0108_000.1',
 '0108_000.7',
 '0108_001.0',
 '0108_002.0',
 '0108_002.5',
 '0108_003.0',
 '0108_004.0',
 '0108_005.0',
 '0108_005.5',
 '0108_006.0',
 '0108_006.5',
 '0108_007.0',
 '0108_007.5',
 '0108_008.0',
 '0108_008.5',
 '0108_009.0',
 '0108_010.0',
 '0108_010.1',
 '0108_010.8',
 '0108_011.3',
 '0108_011.6',
 '0108_012.0',
 '0108_012.7',
 '0109_000.0',
 '0109_000.4',
 '0109_001.1',
 '0110_000.0',
 '0110_001.0',
 '0110_002.0',
 '0110_002.5',
 '0110_003.0',
 '0111_000.0',
 '0111_000.4',
 '0111_000.8',
 '0111_001.3',
 '0111_001.8',
 '0111_002.3',
 '0111_002.8',
 '0111_003.3',
 '0111_004.5',
 '0111_004.7',
 '0111_005.8',
 '0111_007.1',
 '0111_007.7',
 '0111_008.1',
 '0111_009.1',
 '0111_009.6',
 '0111_010.1',
 '0126_000.0',
 '0126_000.2',
 '0126_000.3',
 '0126_000.6',
 '0126_000.8',
 '0126_001.7',
 '0126_001.9',
 '0126_002.3',
 '0126_003.3',
 '0126_003.8',
 '0126_004.6',
 '0126_005.2',
 '0126_005.4',
 '0126_005.7',
 '0126_006.1',
 '0126_006.2',
 '0126_006.7',
 '0126_007.2',
 '0126_007.7',
 '0126_008.2',
 '0126_008.7',
 '0126_009.1',
 '0126_009.2',
 '0126_009.7',
 '0126_010.2',
 '0126_010.7',
 '0126_011.2',
 '0126_011.7',
 '0126_012.7',
 '0126_013.3',
 '0126_013.7',
 '0126_014.5',
 '0126_014.9',
 '0126_016.1',
 '0126_017.5',
 '0126_018.7',
 '0126_019.7',
 '0126_020.8',
 '0126_021.2',
 '0127_000.0',
 '0127_001.5',
 '0127_001.7',
 '0131_001.5',
 '0131_001.9',
 '0134_000.0',
 '0134_001.0',
 '0134_002.0',
 '0134_003.0',
 '0134_003.8',
 '0134_004.5',
 '0134_005.5',
 '0134_006.5',
 '0134_007.1',
 '0134_007.4',
 '0134_008.5',
 '0134_009.2',
 '0134_010.5',
 '0134_011.3',
 '0134_011.9',
 '0134_012.4',
 '0134_012.5',
 '0134_013.1',
 '0140_000.0',
 '0140_000.5',
 '0140_000.8',
 '0151_000.0',
 '0151_000.3',
 '0151_000.5',
 '0151_001.0',
 '0151_001.5',
 '0151_002.0',
 '0151_002.5',
 '0151_003.0',
 '0151_003.5',
 '0151_003.9',
 '0152_000.0',
 '0152_000.1',
 '0152_000.7',
 '0152_001.4',
 '0152_002.3',
 '0152_002.5',
 '0152_002.8',
 '0154_000.0',
 '0154_000.5',
 '0154_000.8',
 '0154_001.4',
 '0154_003.2',
 '0154_004.2',
 '0154_005.8',
 '0154_006.8',
 '0154_008.3',
 '0154_009.6',
 '0154_010.4',
 '0154_011.4',
 '0154_012.9',
 '0154_013.9',
 '0154_014.9',
 '0154_015.9',
 '0154_016.9',
 '0154_017.9',
 '0154_018.9',
 '0154_019.5',
 '0154_020.0',
 '0154_021.0',
 '0154_022.3',
 '0168_000.0',
 '0171_000.0',
 '0171_000.5',
 '0171_001.5',
 '0171_002.5',
 '0171_003.3',
 '0171_003.5',
 '0171_004.0',
 '0171_004.5',
 '0171_005.0',
 '0171_005.5',
 '0171_005.8',
 '0171_006.0',
 '0171_006.5',
 '0171_007.0',
 '0171_007.3',
 '0171_007.6',
 '0171_008.0',
 '0171_008.8',
 '0171_009.2',
 '0171_009.5',
 '0171_009.8',
 '0171_010.0',
 '0171_010.1',
 '0171_010.4',
 '0171_010.6',
 '0171_010.7',
 '0171_011.0',
 '0171_011.3',
 '0171_011.6',
 '0171_011.9',
 '0171_012.2',
 '0171_012.5',
 '0171_012.7',
 '0171_013.1',
 '0171_013.6',
 '0171_014.1',
 '0171_014.6',
 '0171_015.6',
 '0172_000.0',
 '0172_001.0',
 '0172_002.0',
 '0172_003.0',
 '0172_004.0',
 '0172_004.5',
 '0172_005.0',
 '0172_005.5',
 '0172_006.0',
 '0172_006.5',
 '0172_007.0',
 '0172_008.0',
 '0172_008.5',
 '0173_000.0',
 '0173_000.7',
 '0173_001.7',
 '0173_002.2',
 '0173_002.8',
 '0173_003.8',
 '0173_004.4',
 '0173_004.7',
 '0173_005.0',
 '0173_005.3',
 '0173_005.8',
 '0173_006.3',
 '0173_006.8',
 '0173_007.3',
 '0173_007.7',
 '0173_008.8',
 '0173_009.2',
 '0173_009.3',
 '0175_000.0',
 '0175_000.1',
 '0175_000.4',
 '0175_000.9',
 '0175_001.4',
 '0175_001.9',
 '0175_002.4',
 '0175_002.9',
 '0175_003.5',
 '0175_003.9',
 '0175_004.5',
 '0175_004.7',
 '0186_000.0',
 '0186_001.2',
 '0186_001.5',
 '0186_001.6',
 '0186_001.9',
 '0186_002.1',
 '0186_002.2',
 '0186_002.4',
 '0186_002.5',
 '0186_002.7',
 '0186_002.8',
 '0186_003.0',
 '0186_003.3',
 '0186_003.6',
 '0186_003.9',
 '0186_004.6',
 '0186_004.7',
 '0186_005.0',
 '0186_005.5',
 '0186_006.0',
 '0186_006.4',
 '0186_006.7',
 '0186_006.9',
 '0186_007.4',
 '0186_008.0',
 '0190_000.0',
 '0190_000.1',
 '0190_000.3',
 '0190_000.8',
 '0190_001.8',
 '0193_000.0',
 '0193_001.0',
 '0193_002.0',
 '0193_002.7',
 '0193_003.8',
 '0193_004.2',
 '0193_004.4',
 '0193_004.5',
 '0193_005.2',
 '0193_006.0',
 '0193_006.7',
 '0193_007.2',
 '0193_007.8',
 '0201_000.0',
 '0201_002.8',
 '0201_006.2',
 '0201_007.2',
 '0201_007.7',
 '0201_008.7',
 '0201_010.8',
 '0201_012.8',
 '0201_013.8',
 '0201_014.7',
 '0201_015.3',
 '0201_016.7',
 '0201_017.0',
 '0201_017.3',
 '0201_017.5',
 '0201_017.8',
 '0201_018.0',
 '0202_000.0',
 '0202_001.5',
 '0203_000.0',
 '0203_000.5',
 '0203_001.6',
 '0203_001.8',
 '0203_002.3',
 '0203_003.1',
 '0203_003.9',
 '0203_004.2',
 '0203_004.5',
 '0203_004.8',
 '0203_005.1',
 '0203_005.4',
 '0204_000.0',
 '0204_000.1',
 '0204_000.4',
 '0204_001.1',
 '0204_001.2',
 '0204_001.5',
 '0204_001.8',
 '0204_002.1',
 '0204_002.4',
 '0204_002.5',
 '0204_002.7',
 '0204_003.1',
 '0204_003.6',
 '0204_004.1',
 '0204_004.6',
 '0204_005.1',
 '0209_000.4',
 '0209_000.6',
 '0209_001.7',
 '0209_002.4',
 '0209_003.0',
 '0209_003.6',
 '0209_004.2',
 '0209_004.4',
 '0209_004.6',
 '0209_005.0',
 '0209_005.2',
 '0209_005.7',
 '0209_006.2',
 '0209_006.8',
 '0209_007.2',
 '0209_007.7',
 '0209_008.2',
 '0209_008.7',
 '0209_009.2',
 '0209_009.7',
 '0209_010.2',
 '0209_011.2',
 '0209_011.5',
 '0209_011.7',
 '0209_011.9',
 '0209_012.2',
 '0209_013.1',
 '0209_014.0',
 '0209_014.5',
 '0209_015.5',
 '0209_016.0',
 '0209_017.1',
 '0209_017.6',
 '0210_000.0',
 '0210_000.7',
 '0210_001.2',
 '0210_002.2',
 '0215_000.0',
 '0215_000.3',
 '0215_000.7',
 '0215_001.8',
 '0215_002.7',
 '0215_003.7',
 '0215_006.3',
 '0215_007.7',
 '0215_009.2',
 '0215_010.6',
 '0215_011.5',
 '0215_013.5',
 '0215_015.5',
 '0215_017.5',
 '0215_019.5',
 '0215_020.6',
 '0215_022.3',
 '0215_023.7',
 '0215_025.7',
 '0215_026.7',
 '0215_027.4',
 '0225_000.1',
 '0225_000.3',
 '0225_000.6',
 '0227_000.0',
 '0227_000.5',
 '0232_000.0',
 '0232_000.1',
 '0232_000.3',
 '0232_000.9',
 '0232_001.3',
 '0232_002.3',
 '0235_000.0',
 '0235_000.5',
 '0235_001.1',
 '0235_001.2',
 '0235_002.0',
 '0235_002.4',
 '0235_002.6',
 '0235_003.1',
 '0266_000.0',
 '0266_000.1',
 '0266_000.3',
 '0266_000.8',
 '0266_001.7',
 '0266_002.2',
 '0266_002.6',
 '0266_002.8',
 '0266_003.0',
 '0266_003.4',
 '0266_003.5',
 '0266_004.1',
 '0266_004.4',
 '0266_004.7',
 '0266_005.0',
 '0266_005.3',
 '0266_006.0',
 '0266_006.6',
 '0266_006.9',
 '0266_007.4',
 '0266_008.1',
 '0268_000.0',
 '0268_000.2',
 '0268_000.6',
 '0269_000.0',
 '0269_000.2',
 '0269_000.3',
 '0269_000.5',
 '0269_000.6',
 '0269_000.8',
 '0269_000.9',
 '0269_001.0',
 '0269_001.2',
 '0269_001.3',
 '0269_001.5',
 '0269_001.7',
 '0270_000.0',
 '0270_000.2',
 '0270_000.3',
 '0270_000.5',
 '0270_000.6',
 '0273_000.0',
 '0273_001.1',
 '0273_002.1',
 '0273_002.4',
 '0273_003.0',
 '0282_000.0',
 '0282_000.1',
 '0282_000.5',
 '0282_001.0',
 '0282_001.4',
 '0282_001.8',
 '0282_002.2',
 '0282_002.4',
 '0287_000.0',
 '0287_000.4',
 '0287_000.9',
 '0315_000.0',
 '0315_000.9',
 '0315_001.4',
 '1082_008.5',
 '1082_012.5',
 '1082_013.3',
 '1082_014.4',
 '1084_000.0',
 '1084_001.0',
 '1085_000.0',
 '1085_000.4',
 '1085_001.5',
 '1085_002.3',
 '1085_003.4',
 '1085_004.1',
 '1085_004.5',
 '1085_005.4',
 '1086_000.0',
 '1086_000.7',
 '1086_001.2',
 '1086_001.7',
 '1086_001.9',
 '1086_002.6',
 '1086_003.0',
 '1086_003.4',
 '1088_000.0',
 '1088_000.4',
 '1088_000.6',
 '1090_000.0',
 '1090_000.7',
 '1090_001.2',
 '1090_001.5',
 '1092_000.0',
 '1092_000.7',
 '1092_001.2',
 '1094_000.0',
 '1094_000.4',
 '1094_000.6',
 '1094_000.9',
 '1094_001.5',
 '1096_000.0',
 '1096_000.4',
 '1098_000.0',
 '1098_000.8',
 '1100_000.0',
 '1100_001.1',
 '1100_001.6',
 '1100_001.7',
 '1112_000.0',
 '1380_000.0',
 '1380_000.1',
 '1380_000.5',
 '1380_001.2',
 '1380_001.7',
 '1384_000.0',
 '1384_000.2',
 '1384_000.6',
 '1384_001.6',
 '1384_002.5',
 '1384_003.1',
 '1384_003.8',
 '1386_000.0',
 '1386_000.5',
 '1386_000.9',
 '1388_000.0',
 '1388_000.2',
 '1388_000.5',
 '1388_000.8',
 '1388_001.4',
 '1388_001.7',
 '1388_002.4',
 '1388_003.0',
 '1388_003.9',
 '1388_004.4',
 '1388_004.9',
 '1389_000.0',
 '1389_000.1',
 '1389_000.8',
 '1389_001.2',
 ...]

In [90]:
# filter segments by PLANAREA
_df = gdfSegments#[gdfSegments['PLANAREA'].isin(filterPlanArea)].copy()

_df.fillna(0,inplace=True)

# Correct F_AREA values based on condition
_df['F_AREA'] = np.where(_df['F_AREA'] == 0, _df['PLANAREA'], _df['F_AREA'])

# get columns with AADT at beginning of name
aadt_columns = [
    col for col in _df.columns 
    if col.startswith('AADT') 
       and len(col) == 8 
       and col[-4:].isdigit()
]

# get dataframe for just segids and aadt columns
_df = _df[['SOURCE','SEGID','SUBAREAID','F_AREA'] + aadt_columns]
dftemp = _df
dftemp

,SOURCE,SEGID,SUBAREAID,F_AREA,AADT2019,AADT2022,AADT2021,AADT2020,AADT2018,AADT2017,...,AADT1990,AADT1989,AADT1988,AADT1987,AADT1986,AADT1985,AADT1984,AADT1983,AADT1982,AADT1981
0,Segments_State_20231221_Draft.shp,0006_000.0,0.0,UDOT,415.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Segments_State_20231221_Draft.shp,0006_000.7,0.0,UDOT,415.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Segments_State_20231221_Draft.shp,0006_016.0,0.0,UDOT,415.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Segments_State_20231221_Draft.shp,0006_046.0,0.0,UDOT,372.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Segments_State_20231221_Draft.shp,0006_060.2,0.0,UDOT,372.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,WF_Segments_20240326_Draft.shp,UTA_7593,0.0,WFRC,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5339,WF_Segments_20240326_Draft.shp,UTA_7594,0.0,WFRC,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5340,WF_Segments_20240326_Draft.shp,WFRC_8430,1.0,WFRC,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5341,WF_Segments_20240326_Draft.shp,UTA_9556,1.0,WFRC,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5342,WF_Segments_20240326_Draft.shp,UTA_9560,1.0,WFRC,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
# filter segments by PLANAREA
_df = gdfSegments#[gdfSegments['PLANAREA'].isin(filterPlanArea)].copy()

_df.fillna(0,inplace=True)

# get columns with AADT at beginning of name
aadt_columns = [
    col for col in _df.columns 
    if col.startswith('AADT') 
       and len(col) == 8 
       and col[-4:].isdigit()
]

# get dataframe for just segids and aadt columns
_df = _df[['SOURCE','SEGID'] + aadt_columns]

# melt to make long
_df = _df.melt(id_vars=('SOURCE','SEGID'), var_name='YEAR', value_name='AADT')

# filter out zero volumes
_df = _df[_df['AADT']>0]

# get YEAR from string
_df['YEAR'] = _df['YEAR'].str[-4:].astype(int)

# set AADT to int
_df['AADT'] = _df['AADT'].astype(int)

dfAadtFromSegments = _df
dfAadtFromSegments

                                   SOURCE       SEGID  YEAR   AADT
0       Segments_State_20231221_Draft.shp  0006_000.0  2019    415
1       Segments_State_20231221_Draft.shp  0006_000.7  2019    415
2       Segments_State_20231221_Draft.shp  0006_016.0  2019    415
3       Segments_State_20231221_Draft.shp  0006_046.0  2019    372
4       Segments_State_20231221_Draft.shp  0006_060.2  2019    372
...                                   ...         ...   ...    ...
808065     WF_Segments_20240326_Draft.shp  2899_002.4  1981   2635
808066     WF_Segments_20240326_Draft.shp  2899_003.5  1981   2635
808067     WF_Segments_20240326_Draft.shp  2899_004.1  1981    850
810118     WF_Segments_20240326_Draft.shp   WFRC_8419  1981  15075
810163     WF_Segments_20240326_Draft.shp   WFRC_8467  1981   5135

[193653 rows x 4 columns]

In [69]:
dfAadtFromSegments[dfAadtFromSegments['SEGID']=='0013_000.0']

                                    SOURCE       SEGID  YEAR   AADT
185      Segments_State_20231221_Draft.shp  0013_000.0  2019  19514
9003    WFv901_Segments_20240226_Draft.shp  0013_000.0  2019  19514
13983       WF_Segments_20240326_Draft.shp  0013_000.0  2019  19514
28293   WFv901_Segments_20240226_Draft.shp  0013_000.0  2022  19243
33273       WF_Segments_20240326_Draft.shp  0013_000.0  2022  19243
...                                    ...         ...   ...    ...
727713      WF_Segments_20240326_Draft.shp  0013_000.0  1985  12035
742023  WFv901_Segments_20240226_Draft.shp  0013_000.0  1984  11910
747003      WF_Segments_20240326_Draft.shp  0013_000.0  1984  11910
761313  WFv901_Segments_20240226_Draft.shp  0013_000.0  1983  11780
766293      WF_Segments_20240326_Draft.shp  0013_000.0  1983  11780

[81 rows x 4 columns]

# Get Historic Data from AADTHistory UDOT Spreadsheet

In [70]:
#import excel spreadsheet
xl_file1 = pd.ExcelFile(fnExcelAADTHistory)
dfs1 = {sheet_name: xl_file1.parse(sheet_name) for sheet_name in xl_file1.sheet_names}

c:\Users\bhereth\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [71]:
#show sheet
display(xl_file1.sheet_names)
dfs1['AADT_2021']

['AADT_2021', 'AADT_Rounded', 'AADT_Unrounded']

         ROUTE_ID  FROM_MEASURE  TO_MEASURE  AADT_2021
0          0006PM         0.000      46.038        474
1          0006PM        46.038      77.556        424
2          0006PM        77.556      82.897        609
3          0006PM        82.897      83.911       2272
4          0006PM        83.911      87.694       3852
...           ...           ...         ...        ...
4568  0015PC29402         0.000       0.199       8886
4569  0015PC29501         0.000       0.166       1000
4570  0015PC30554         0.000       1.135      35025
4571  0092NC00101         0.000       3.294      12201
4572  0092PC00101         0.000       2.829       8174

[4573 rows x 4 columns]

In [72]:
# PREPARE 2021 DATA

df2021 = dfs1['AADT_2021']

df2021['YEAR'] = 2021
df2021.rename(columns={'AADT_2021':'AADT'}, inplace=True)
df2021

         ROUTE_ID  FROM_MEASURE  TO_MEASURE   AADT  YEAR
0          0006PM         0.000      46.038    474  2021
1          0006PM        46.038      77.556    424  2021
2          0006PM        77.556      82.897    609  2021
3          0006PM        82.897      83.911   2272  2021
4          0006PM        83.911      87.694   3852  2021
...           ...           ...         ...    ...   ...
4568  0015PC29402         0.000       0.199   8886  2021
4569  0015PC29501         0.000       0.166   1000  2021
4570  0015PC30554         0.000       1.135  35025  2021
4571  0092NC00101         0.000       3.294  12201  2021
4572  0092PC00101         0.000       2.829   8174  2021

[4573 rows x 5 columns]

In [73]:
# PREPARE 2022 AADT

df2022 = pd.read_csv(fnAADT2022)

df2022['YEAR'] = 2022
df2022.rename(columns={'AADT2022':'AADT','Route':'ROUTE_ID','Begin MP':'FROM_MEASURE','End MP':'TO_MEASURE','AADT_2022':'AADT'}, inplace=True)
df2022.drop(columns=['Station','Section Length','Location Description'], inplace=True)

df2022['AADT'] = df2022['AADT'].str.replace(',', '').astype(int)

df2022

     ROUTE_ID  FROM_MEASURE  TO_MEASURE  AADT  YEAR
0      0006PM         0.000     46.0380   441  2022
1      0006PM        46.038     77.5560   395  2022
2      0006PM        77.556     82.8970   566  2022
3      0006PM        82.897     83.9110  2113  2022
4      0006PM        83.911     87.6940  3910  2022
...       ...           ...         ...   ...   ...
4553   3468PM         0.000      5.1248  2733  2022
4554   3469PM         0.000      6.9300   371  2022
4555   3470PM         0.000      1.0394  1686  2022
4556   3478PM         0.000      2.0404   965  2022
4557   3483PM         0.000      1.7030  1104  2022

[4558 rows x 5 columns]

In [74]:
# GET AADTS FOR YEARS PRIOR TO 2021

# melt AADT columns to rows
df = dfs1['AADT_Unrounded']

# get all columns that start with 'AADT'
aadt_cols = [col for col in df.columns if col.startswith('AADT')]

# define the id columns that you want to keep
id_vars = ['Route', 'Beg MP', 'End MP']

# melt the DataFrame
dfUnder2021 = df.melt(id_vars=id_vars, value_vars=aadt_cols, var_name='YEAR', value_name='AADT')

# replace 'AADT' in the 'YEAR' column and convert to integer
dfUnder2021['YEAR'] = dfUnder2021['YEAR'].str.replace('AADT', '').astype(int)

# rename columns to match pre-2021 data
dfUnder2021.rename(columns={'Route':'ROUTE_ID','Beg MP':'FROM_MEASURE','End MP':'TO_MEASURE'}, inplace=True)

display(dfUnder2021)

       ROUTE_ID  FROM_MEASURE  TO_MEASURE  YEAR  AADT
0        0006PM         0.000      46.038  2020   430
1        0006PM        46.038      77.556  2020   385
2        0006PM        77.556      82.897  2020   552
3        0006PM        82.897      83.911  2020  2061
4        0006PM        83.911      87.694  2020  3409
...         ...           ...         ...   ...   ...
181475   3468PM         0.000       5.125  1981     0
181476   3469PM         0.000       6.930  1981     0
181477   3470PM         0.000       1.039  1981     0
181478   3478PM         0.000       2.040  1981     0
181479   3483PM         0.000       1.703  1981     0

[181480 rows x 5 columns]

In [75]:
# combine 2022, 2021 and under 2021
dfAADT = pd.concat([dfUnder2021,df2021,df2022])

dfAADT['FROM_MEASURE'] = dfAADT['FROM_MEASURE'].round(2)
dfAADT['TO_MEASURE'] = dfAADT['TO_MEASURE'].round(2)

# melt for easier joining
dfAADT = pd.pivot_table(dfAADT,index=('ROUTE_ID','FROM_MEASURE','TO_MEASURE'),columns='YEAR',values='AADT')

dfAADT.reset_index(inplace=True)
dfAADT.fillna('0',inplace=True)

# Filter rows with 'ROUTE_ID' containing 'PM' - Positive Direction & Mainline?
dfAADT_filtered = dfAADT[dfAADT['ROUTE_ID'].str.contains('PM')].copy()

# Trim 'ROUTE_ID' down to the first four characters in order to match with SEGID
dfAADT_filtered['ROUTE_ID'] = dfAADT_filtered['ROUTE_ID'].str[:4]

dfAADT_filtered

YEAR,ROUTE_ID,FROM_MEASURE,TO_MEASURE,1981,1982,1983,1984,1985,1986,1987,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,0006,0.00,46.04,325.0,335.0,430.0,580.0,585.0,585.0,595.0,...,330.0,350.0,375.0,399.0,409.0,412.0,415.0,430.0,474.0,441.0
1,0006,46.04,77.56,325.0,335.0,430.0,580.0,585.0,585.0,595.0,...,340.0,360.0,390.0,412.0,366.0,369.0,372.0,385.0,424.0,395.0
2,0006,77.56,82.90,520.0,535.0,630.0,780.0,790.0,790.0,800.0,...,420.0,450.0,480.0,512.0,525.0,529.0,533.0,552.0,609.0,566.0
3,0006,82.90,83.91,0.0,1350.0,1450.0,1650.0,1675.0,1600.0,1525.0,...,1575.0,1675.0,1800.0,1913.0,1961.0,1975.0,1991.0,2061.0,2272.0,2113.0
4,0006,83.91,87.69,0.0,2650.0,2750.0,3000.0,3050.0,2920.0,2790.0,...,3340.0,3495.0,3660.0,3846.0,3468.0,3496.0,3573.0,3409.0,3852.0,3910.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807,3468,0.00,5.12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2085.0,2120.0,2245.0,2354.0,2452.0,2550.0,2581.0,2578.0,2764.0,2733.0
4808,3469,0.00,6.93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,505.0,515.0,545.0,572.0,333.0,346.0,350.0,350.0,375.0,371.0
4809,3470,0.00,1.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1653.0,1694.0,1724.0,1540.0,1669.0,1686.0
4810,3478,0.00,2.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1090.0,1110.0,1175.0,1232.0,865.0,900.0,911.0,910.0,976.0,965.0
4811,3483,0.00,1.70,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,850.0,860.0,915.0,958.0,990.0,1030.0,1042.0,1041.0,1116.0,1104.0

In [76]:
# CHECK FOR DUPLICATES

# Define the columns you want to check for duplicates
columns_to_check = ['ROUTE_ID', 'FROM_MEASURE', 'TO_MEASURE']

# Use the duplicated method to find duplicates in those columns
duplicates = dfAADT_filtered.duplicated(subset=columns_to_check, keep=False)

# Filter the DataFrame to only include the duplicates
dfAADT_duplicates = dfAADT_filtered[duplicates]

display(dfAADT_duplicates)

Empty DataFrame
Columns: [ROUTE_ID, FROM_MEASURE, TO_MEASURE, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
Index: []

[0 rows x 45 columns]

In [79]:
# JOIN DATA BACK TO SEGMENTS FILE AND FILTER WITH MIDPOINT_MP BETWEEN BMP AND EMP

_df = gdfSegments[gdfSegments['SOURCE']==sourceExcelAADTSegData].copy()


# calculate midpoint for 
_df['MIDPOINT_MP'] = (_df['BMP'] + _df['EMP']) / 2
_df['ROUTE_ID'] = _df['SEGID'].str.split('_').str[0]

# get only data needed to join
_df = _df[['SEGID','ROUTE_ID','MIDPOINT_MP']]

# create temp dataframe to merge to segments data
_df2 = pd.DataFrame.merge(_df, dfAADT_filtered, on='ROUTE_ID')

# filter for only segments with midpoints between AADT FROM_MEASURE and TO_MEASURE
_df2 = _df2[_df2['MIDPOINT_MP'].between(_df2['FROM_MEASURE'],_df2['TO_MEASURE'])].copy()

# give me only columns with years
cols_to_keep = [col for col in _df2.columns if str(col).isdigit() and 1981 <= int(col) <= 3000]

# filter by only segid and columns with years
_df2 = _df2[['SEGID']+cols_to_keep]

# melt to make table long
_df2 = _df2.melt(id_vars=('SEGID'),var_name="YEAR",value_name='AADT')

# convert AADT to int
_df2['AADT'] = _df2['AADT'].astype(int)

# add source
_df2['SOURCE'] = fnExcelAADTHistory.split('/')[-1]

# filter out an zero data
_df2 = _df2[_df2['AADT']>0]

dfAadtFromHistoric = _df2

dfAadtFromHistoric

             SEGID  YEAR  AADT            SOURCE
0       0006_000.0  1981   325  AADTHistory.xlsx
1       0006_000.7  1981   325  AADTHistory.xlsx
2       0006_016.0  1981   325  AADTHistory.xlsx
3       0006_046.0  1981   325  AADTHistory.xlsx
4       0006_060.2  1981   325  AADTHistory.xlsx
...            ...   ...   ...               ...
315121  3468_000.0  2022  2733  AADTHistory.xlsx
315122  3469_000.0  2022   371  AADTHistory.xlsx
315123  3470_000.0  2022  1686  AADTHistory.xlsx
315124  3478_000.0  2022   965  AADTHistory.xlsx
315125  3483_000.0  2022  1104  AADTHistory.xlsx

[186083 rows x 4 columns]

In [80]:
dfAadtFromHistoric[dfAadtFromHistoric['SEGID']=='0013_000.0']

             SEGID  YEAR   AADT            SOURCE
15193   0013_000.0  1983  11780  AADTHistory.xlsx
22696   0013_000.0  1984  11910  AADTHistory.xlsx
30199   0013_000.0  1985  12035  AADTHistory.xlsx
37702   0013_000.0  1986  12075  AADTHistory.xlsx
45205   0013_000.0  1987  12115  AADTHistory.xlsx
52708   0013_000.0  1988  12170  AADTHistory.xlsx
60211   0013_000.0  1989  13070  AADTHistory.xlsx
67714   0013_000.0  1990  13325  AADTHistory.xlsx
75217   0013_000.0  1991  13485  AADTHistory.xlsx
82720   0013_000.0  1992  16335  AADTHistory.xlsx
90223   0013_000.0  1993  17230  AADTHistory.xlsx
97726   0013_000.0  1994  18085  AADTHistory.xlsx
105229  0013_000.0  1995  17735  AADTHistory.xlsx
112732  0013_000.0  1996  18620  AADTHistory.xlsx
120235  0013_000.0  1997  19065  AADTHistory.xlsx
127738  0013_000.0  1998  19065  AADTHistory.xlsx
135241  0013_000.0  1999  20625  AADTHistory.xlsx
142744  0013_000.0  2000  20465  AADTHistory.xlsx
150247  0013_000.0  2001  14955  AADTHistory.xlsx
157750  0013_000.0  2002  15965  AADTHistory.xlsx
165253  0013_000.0  2003  15680  AADTHistory.xlsx
172756  0013_000.0  2004  16315  AADTHistory.xlsx
180259  0013_000.0  2005  16295  AADTHistory.xlsx
187762  0013_000.0  2006  16540  AADTHistory.xlsx
195265  0013_000.0  2007  18195  AADTHistory.xlsx
202768  0013_000.0  2008  17505  AADTHistory.xlsx
210271  0013_000.0  2009  17625  AADTHistory.xlsx
217774  0013_000.0  2010  17645  AADTHistory.xlsx
225277  0013_000.0  2011  15880  AADTHistory.xlsx
232780  0013_000.0  2012  15830  AADTHistory.xlsx
240283  0013_000.0  2013  16245  AADTHistory.xlsx
247786  0013_000.0  2014  16960  AADTHistory.xlsx
255289  0013_000.0  2015  17790  AADTHistory.xlsx
262792  0013_000.0  2016  18572  AADTHistory.xlsx
270295  0013_000.0  2017  19073  AADTHistory.xlsx
277798  0013_000.0  2018  19321  AADTHistory.xlsx
285301  0013_000.0  2019  19514  AADTHistory.xlsx
292804  0013_000.0  2020  16977  AADTHistory.xlsx
300307  0013_000.0  2021  18811  AADTHistory.xlsx
307810  0013_000.0  2022  19243  AADTHistory.xlsx

# Wrap up and export

In [81]:
dfAadt = pd.concat([dfAadtFromSegments,dfAadtFromHistoric])
dfAadt = dfAadt.sort_values(by=['SEGID','SOURCE','YEAR'])
dfAadt = dfAadt.drop_duplicates()
dfAadt

                                   SOURCE       SEGID  YEAR   AADT
0                        AADTHistory.xlsx  0006_000.0  1981    325
7503                     AADTHistory.xlsx  0006_000.0  1982    335
15006                    AADTHistory.xlsx  0006_000.0  1983    430
22509                    AADTHistory.xlsx  0006_000.0  1984    580
30012                    AADTHistory.xlsx  0006_000.0  1985    585
...                                   ...         ...   ...    ...
91100  WFv901_Segments_20240226_Draft.shp   WFRC_8467  2018  26161
13940  WFv901_Segments_20240226_Draft.shp   WFRC_8467  2019  26632
71810  WFv901_Segments_20240226_Draft.shp   WFRC_8467  2020  23782
52520  WFv901_Segments_20240226_Draft.shp   WFRC_8467  2021  25780
33230  WFv901_Segments_20240226_Draft.shp   WFRC_8467  2022  26037

[379733 rows x 4 columns]

In [82]:
dfAadt[dfAadt['SEGID']=='0013_000.0']

                                   SOURCE       SEGID  YEAR   AADT
15193                    AADTHistory.xlsx  0013_000.0  1983  11780
22696                    AADTHistory.xlsx  0013_000.0  1984  11910
30199                    AADTHistory.xlsx  0013_000.0  1985  12035
37702                    AADTHistory.xlsx  0013_000.0  1986  12075
45205                    AADTHistory.xlsx  0013_000.0  1987  12115
...                                   ...         ...   ...    ...
86163  WFv901_Segments_20240226_Draft.shp  0013_000.0  2018  19321
9003   WFv901_Segments_20240226_Draft.shp  0013_000.0  2019  19514
66873  WFv901_Segments_20240226_Draft.shp  0013_000.0  2020  16977
47583  WFv901_Segments_20240226_Draft.shp  0013_000.0  2021  18811
28293  WFv901_Segments_20240226_Draft.shp  0013_000.0  2022  19243

[121 rows x 4 columns]

In [83]:
# CHECK NON-NUMERIC SEGIDs!!
dfAadt['SEGID'][dfAadt['SEGID'].str.match(r'[^\d]')].drop_duplicates()

8107       MAG_6017
384501     MAG_6021
56607      MAG_6067
56609      MAG_6069
56676      MAG_6139
109525     MAG_6140
8252       MAG_6164
8341       MAG_6254
114987     MAG_6604
8517      WFRC_8004
153884    WFRC_8010
385544    WFRC_8220
8758      WFRC_8262
8759      WFRC_8263
810118    WFRC_8419
810163    WFRC_8467
Name: SEGID, dtype: object

In [94]:
# merge locked with unlocked

if len(lstLockedSegments)>=1:

    # export final file
    dfAadt_Prev = pd.read_csv('intermediate/aadt.csv')
    dfAadt_Locked = dfAadt_Prev[dfAadt_Prev['SEGID'].isin(lstLockedSegments)].copy()

    dfAadt_Unlocked = dfAadt[~dfAadt['SEGID'].isin(lstLockedSegments)].copy()

    # Concatenate the locked and unlocked DataFrames
    dfAadtMerged = pd.concat([dfAadt_Locked, dfAadt_Unlocked])

    # Reset the index of the final DataFrame, if needed
    dfAadtMerged.reset_index(drop=True, inplace=True)

else:
    dfAadtMerged = dfAadt


dfAadtMerged = dfAadtMerged[['SOURCE','SEGID','YEAR','AADT']]

dfAadtMerged

                                   SOURCE       SEGID  YEAR   AADT
0       Segments_State_20231221_Draft.shp  0013_000.0  2019  19514
1          WF_Segments_20240326_Draft.shp  0013_000.0  1983  11780
2          WF_Segments_20240326_Draft.shp  0013_000.0  1984  11910
3          WF_Segments_20240326_Draft.shp  0013_000.0  1985  12035
4          WF_Segments_20240326_Draft.shp  0013_000.0  1986  12075
...                                   ...         ...   ...    ...
315373     WF_Segments_20240326_Draft.shp    MAG_6604  2018    500
315374     WF_Segments_20240326_Draft.shp    MAG_6604  2019    500
315375     WF_Segments_20240326_Draft.shp    MAG_6604  2020    500
315376     WF_Segments_20240326_Draft.shp    MAG_6604  2021    500
315377     WF_Segments_20240326_Draft.shp    MAG_6604  2022    505

[315378 rows x 4 columns]

In [95]:
dfAadtMerged[dfAadtMerged['SEGID']=='0013_000.0']

                                SOURCE       SEGID  YEAR   AADT
0    Segments_State_20231221_Draft.shp  0013_000.0  2019  19514
1       WF_Segments_20240326_Draft.shp  0013_000.0  1983  11780
2       WF_Segments_20240326_Draft.shp  0013_000.0  1984  11910
3       WF_Segments_20240326_Draft.shp  0013_000.0  1985  12035
4       WF_Segments_20240326_Draft.shp  0013_000.0  1986  12075
..                                 ...         ...   ...    ...
76  WFv901_Segments_20240226_Draft.shp  0013_000.0  2018  19321
77  WFv901_Segments_20240226_Draft.shp  0013_000.0  2019  19514
78  WFv901_Segments_20240226_Draft.shp  0013_000.0  2020  16977
79  WFv901_Segments_20240226_Draft.shp  0013_000.0  2021  18811
80  WFv901_Segments_20240226_Draft.shp  0013_000.0  2022  19243

[81 rows x 4 columns]

In [96]:
dfAadtMerged.rename(columns={'AADT':'obsAADT'})

# export AADT
dfAadtMerged.to_csv('intermediate/aadt.csv',index=False)

# export AADT sources
dfAadtMerged[['SOURCE']].drop_duplicates().to_csv('intermediate/aadt-sources.csv',index=False)
display(dfAadtMerged[['SOURCE']].drop_duplicates())

## export Forecasts
#dfForecastsFromSegments.to_csv('intermediate/previous-forecasts.csv',index=False)

## export AADT sources
#dfForecastsFromSegments[['SOURCE']].drop_duplicates().to_csv('intermediate/previous-forecasts-sources.csv',index=False)

                                    SOURCE
0        Segments_State_20231221_Draft.shp
1           WF_Segments_20240326_Draft.shp
41      WFv901_Segments_20240226_Draft.shp
132722                    AADTHistory.xlsx

In [97]:
dfAadtMerged[dfAadtMerged['SEGID']=='0006_141.0']

                                    SOURCE       SEGID  YEAR  AADT
134463                    AADTHistory.xlsx  0006_141.0  1981   975
134464                    AADTHistory.xlsx  0006_141.0  1982  1000
134465                    AADTHistory.xlsx  0006_141.0  1983   965
134466                    AADTHistory.xlsx  0006_141.0  1984  1240
134467                    AADTHistory.xlsx  0006_141.0  1985  1340
...                                    ...         ...   ...   ...
134585  WFv901_Segments_20240226_Draft.shp  0006_141.0  2018  1443
134586  WFv901_Segments_20240226_Draft.shp  0006_141.0  2019  1517
134587  WFv901_Segments_20240226_Draft.shp  0006_141.0  2020  1647
134588  WFv901_Segments_20240226_Draft.shp  0006_141.0  2021  1760
134589  WFv901_Segments_20240226_Draft.shp  0006_141.0  2022  1741

[127 rows x 4 columns]

In [98]:
dfAadtMerged[dfAadtMerged['SEGID']=='0006_222.1']

                                   SOURCE       SEGID  YEAR  AADT
138901                   AADTHistory.xlsx  0006_222.1  1981  4325
138902                   AADTHistory.xlsx  0006_222.1  1982  4750
138903                   AADTHistory.xlsx  0006_222.1  1983   700
138904                   AADTHistory.xlsx  0006_222.1  1984  4170
138905                   AADTHistory.xlsx  0006_222.1  1985  3565
138906                   AADTHistory.xlsx  0006_222.1  1986  3880
138907                   AADTHistory.xlsx  0006_222.1  1987  4010
138908                   AADTHistory.xlsx  0006_222.1  1988  4230
138909                   AADTHistory.xlsx  0006_222.1  1989  4380
138910                   AADTHistory.xlsx  0006_222.1  1990  4690
138911                   AADTHistory.xlsx  0006_222.1  1991  4530
138912                   AADTHistory.xlsx  0006_222.1  1992  4870
138913                   AADTHistory.xlsx  0006_222.1  1993  5205
138914                   AADTHistory.xlsx  0006_222.1  1994  5510
138915                   AADTHistory.xlsx  0006_222.1  1995  5770
138916                   AADTHistory.xlsx  0006_222.1  1996  5755
138917                   AADTHistory.xlsx  0006_222.1  1997  5955
138918                   AADTHistory.xlsx  0006_222.1  1998  5953
138919                   AADTHistory.xlsx  0006_222.1  1999  6250
138920                   AADTHistory.xlsx  0006_222.1  2000  6207
138921                   AADTHistory.xlsx  0006_222.1  2001  6295
138922                   AADTHistory.xlsx  0006_222.1  2002  6690
138923                   AADTHistory.xlsx  0006_222.1  2003  6183
138924                   AADTHistory.xlsx  0006_222.1  2004  6095
138925                   AADTHistory.xlsx  0006_222.1  2005  6205
138926                   AADTHistory.xlsx  0006_222.1  2006  6410
138927                   AADTHistory.xlsx  0006_222.1  2007  6455
138928                   AADTHistory.xlsx  0006_222.1  2008  6135
138929                   AADTHistory.xlsx  0006_222.1  2009  6325
138930                   AADTHistory.xlsx  0006_222.1  2010  6400
138931                   AADTHistory.xlsx  0006_222.1  2011  6270
138932                   AADTHistory.xlsx  0006_222.1  2012  6180
138933                   AADTHistory.xlsx  0006_222.1  2013  6215
138934                   AADTHistory.xlsx  0006_222.1  2014  6085
138935                   AADTHistory.xlsx  0006_222.1  2015  6860
138936                   AADTHistory.xlsx  0006_222.1  2016  7337
138937                   AADTHistory.xlsx  0006_222.1  2017  7659
138938                   AADTHistory.xlsx  0006_222.1  2018  7574
138939                   AADTHistory.xlsx  0006_222.1  2019  8033
138940                   AADTHistory.xlsx  0006_222.1  2020  7848
138941                   AADTHistory.xlsx  0006_222.1  2021  9051
138942                   AADTHistory.xlsx  0006_222.1  2022  9151
138943  Segments_State_20231221_Draft.shp  0006_222.1  2019  8033

# create shapefile

In [99]:
#_df = dfAadt
#_df['YEARCOL'] = "AADT" + _df['YEAR'].astype(str)
#_df['AADT'] = _df['AADT'].astype(int)
#_df2 = _df.groupby(['SEGID','YEARCOL'],as_index=False).agg(cntRows=('YEAR','count'))
#_df2 = _df.pivot(index="SEGID",columns=('YEARCOL'), values='AADT')
#
#_df2.fillna(0,inplace=True)
#
#_df3 = pd.DataFrame.merge(gdfSegments[['SEGID','geometry']],_df2, on="SEGID", how="left")
#_df3.fillna(0,inplace=True)
#
#
## Identify numeric columns
#numeric_cols = _df3.select_dtypes(include=['float64']).columns
#
## Convert numeric columns to integer type
#for col in numeric_cols:
#    _df3[col] = _df3[col].astype(int)
#
#from datetime import datetime
#
## Generate a filename with the current timestamp in the specified folder
#timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')
#
#_df3.to_file('results/Segments_State_' + timestamp + '_Draft_AADTOnly.shp')

# Get Factors

In [101]:
# filter segments by PLANAREA
_df = gdfSegments#[gdfSegments['PLANAREA'].isin(filterPlanArea)].copy()

# get columns with AADT at beginning of name
fac_columns = [
    col for col in _df.columns 
    if 'FAC' in col
]
dfFactors = _df[['SOURCE','SEGID'] + fac_columns].copy()
dfFactors

,SOURCE,SEGID,FACMANADJ,FAC_APR,FAC_AUG,FAC_DEC,FAC_FAL,FAC_FEB,FAC_FRI,FAC_JAN,...,FAC_SPR,FAC_SUM,FAC_SUN,FAC_THU,FAC_TUE,FAC_WDAVG,FAC_WEAVG,FAC_WED,FAC_WEMAX,FAC_WIN
0,Segments_State_20231221_Draft.shp,0006_000.0,0.0,1.0366,1.0897,0.8822,1.0316,0.8504,1.1505,0.8159,...,1.0276,1.0914,0.8819,1.0120,0.9628,0.9840,0.9734,0.9773,1.0649,0.8495
1,Segments_State_20231221_Draft.shp,0006_000.7,0.0,1.0366,1.0897,0.8822,1.0316,0.8504,1.1505,0.8159,...,1.0276,1.0914,0.8819,1.0120,0.9628,0.9840,0.9734,0.9773,1.0649,0.8495
2,Segments_State_20231221_Draft.shp,0006_016.0,0.0,1.0366,1.0897,0.8822,1.0316,0.8504,1.1505,0.8159,...,1.0276,1.0914,0.8819,1.0120,0.9628,0.9840,0.9734,0.9773,1.0649,0.8495
3,Segments_State_20231221_Draft.shp,0006_046.0,0.0,1.0366,1.0897,0.8822,1.0316,0.8504,1.1505,0.8159,...,1.0276,1.0914,0.8819,1.0120,0.9628,0.9840,0.9734,0.9773,1.0649,0.8495
4,Segments_State_20231221_Draft.shp,0006_060.2,0.0,1.0366,1.0897,0.8822,1.0316,0.8504,1.1505,0.8159,...,1.0276,1.0914,0.8819,1.0120,0.9628,0.9840,0.9734,0.9773,1.0649,0.8495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,WF_Segments_20240326_Draft.shp,UTA_7593,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5339,WF_Segments_20240326_Draft.shp,UTA_7594,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5340,WF_Segments_20240326_Draft.shp,WFRC_8430,0.0,1.0146,1.0396,0.9616,1.0243,0.9471,1.1418,0.9024,...,1.0104,1.0283,0.6061,1.1071,1.0813,1.0924,0.7653,1.0887,0.9245,0.9370
5341,WF_Segments_20240326_Draft.shp,UTA_9556,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5342,WF_Segments_20240326_Draft.shp,UTA_9560,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [107]:
# merge locked with unlocked

if len(lstLockPlanArea):

    print ('Merging Locked with Unlocked')

    # export final file
    dfFactors_Prev = pd.read_csv('intermediate/factors.csv')
    dfFactors_Locked = dfFactors_Prev[dfFactors_Prev['SEGID'].isin(lstLockedSegments)].copy()

    dfFactors_Unlocked = dfFactors[~dfFactors['SEGID'].isin(lstLockedSegments)].copy()

    # Concatenate the locked and unlocked DataFrames
    dfFactorsMerged = pd.concat([dfFactors_Locked, dfFactors_Unlocked])

    # Reset the index of the final DataFrame, if needed
    dfFactorsMerged.reset_index(drop=True, inplace=True)

else:
    print ('No Locked')
    dfFactorsMerged = dfFactors

dfFactorsMerged.drop(columns=['SAID_FAC','PLANAREA','F_AREA'], inplace=True)

dfFactorsMerged

Merging Locked with Unlocked

,SOURCE,SEGID,FACMANADJ,FAC_APR,FAC_AUG,FAC_DEC,FAC_FAL,FAC_FEB,FAC_FRI,FAC_JAN,...,FAC_SPR,FAC_SUM,FAC_SUN,FAC_THU,FAC_TUE,FAC_WDAVG,FAC_WEAVG,FAC_WED,FAC_WEMAX,FAC_WIN
0,Segments_State_20231221_Draft.shp,0013_000.0,0.0,1.0146,1.0396,0.9616,1.0243,0.9471,1.1418,0.9024,...,1.0104,1.0283,0.6061,1.1071,1.0813,1.0924,0.7653,1.0887,0.9245,0.9370
1,Segments_State_20231221_Draft.shp,0013_000.6,0.0,1.0146,1.0396,0.9616,1.0243,0.9471,1.1418,0.9024,...,1.0104,1.0283,0.6061,1.1071,1.0813,1.0924,0.7653,1.0887,0.9245,0.9370
2,Segments_State_20231221_Draft.shp,0013_001.3,0.0,1.0142,1.0223,0.9907,1.0095,0.9705,1.1450,0.9346,...,1.0117,1.0135,0.6293,1.1063,1.0851,1.0946,0.7583,1.0925,0.8873,0.9653
3,Segments_State_20231221_Draft.shp,0013_001.6,0.0,1.0142,1.0223,0.9907,1.0095,0.9705,1.1450,0.9346,...,1.0117,1.0135,0.6293,1.1063,1.0851,1.0946,0.7583,1.0925,0.8873,0.9653
4,Segments_State_20231221_Draft.shp,0013_001.8,0.0,1.0146,1.0396,0.9616,1.0243,0.9471,1.1418,0.9024,...,1.0104,1.0283,0.6061,1.1071,1.0813,1.0924,0.7653,1.0887,0.9245,0.9370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19285,WF_Segments_20240326_Draft.shp,UTA_9576,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
19286,WF_Segments_20240326_Draft.shp,UTA_9580,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
19287,WF_Segments_20240326_Draft.shp,UTA_9584,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
19288,WF_Segments_20240326_Draft.shp,UTA_9588,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
19289,WF_Segments_20240326_Draft.shp,UTA_9592,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [108]:
dfFactors.to_csv('intermediate/factors.csv',index=False)