In [6]:
import pandas as pd
import os
import geopandas as gpd
import re # regular expression
#import pyproj

In [20]:
# GLOBAL VARIABLES

# excel spreadsheet copied to data/udot folder from https://drive.google.com/file/d/1rDXm0ObugGR1zXgWUuVbzWHNt-Xs1xru/view
fnExcelAADTHistory = 'data/udot/AADTHistory.xlsx'

# segment shapefile with AADT and previous forecasts - copied from 'A:/1 - TDM/3 - Model Dev/1 - WF/1 - Official Release/v9x/v9.0/WF TDM v9.0 - official/1_Inputs/6_Segment/Segments_WF - 2023-08-01.shp'
fnSegmentsShapefile = 'data/segments/Final_Segments_BMP_EMP.shp'

# filter by PLANAREA in segments shapefile
#filterPlanArea = ['WFRC','MAG'] # must be an array... if only single item, the still include []

# Get AADT and Previous Forecasts from Segment Shapefile

In [21]:
# read in segment shapefile
gdfSegments = gpd.read_file(fnSegmentsShapefile)
display(gdfSegments)

# show columns
#print(gdfSegments.columns.tolist())

,SEGID,BMP,EMP,DISTANCE,CO_FIPS,PLANAREA,FAC_WDAVG,FAC_WIN,FAC_SPR,FAC_SUM,FAC_FAL,SUBAREAID,geometry
0,0006_000.0,0.000,0.665,0.666642,27,UDOT,0.9840,0.8495,1.0276,1.0914,1.0316,0,"LINESTRING (236177.700 4327541.250, 237241.180..."
1,0006_000.7,0.665,16.022,15.369870,27,UDOT,0.9840,0.8495,1.0276,1.0914,1.0316,0,"LINESTRING (237241.180 4327399.720, 238150.600..."
2,0006_016.0,16.022,46.017,30.002021,27,UDOT,0.9840,0.8495,1.0276,1.0914,1.0316,0,"LINESTRING (261403.900 4327045.400, 261409.000..."
3,0006_046.0,46.017,60.218,14.194335,27,UDOT,0.9840,0.8495,1.0276,1.0914,1.0316,0,"LINESTRING (305380.160 4325741.850, 305784.500..."
4,0006_060.2,60.218,77.545,17.323272,27,UDOT,0.9840,0.8495,1.0276,1.0914,1.0316,0,"LINESTRING (324618.000 4337936.900, 324647.400..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8717,0056_060.2,60.158,60.428,0.275532,21,UDOT,1.0924,0.9370,1.0104,1.0283,1.0243,5,"LINESTRING (316466.930 4172440.100, 316425.150..."
8718,0056_060.6,60.628,60.844,0.270333,21,UDOT,1.0946,0.9653,1.0117,1.0135,1.0095,5,"LINESTRING (317122.640 4172430.750, 317022.790..."
8719,0056_060.5,60.528,60.644,0.043699,21,UDOT,1.0946,0.9653,1.0117,1.0135,1.0095,5,"LINESTRING (316687.710 4172438.000, 316680.110..."
8720,0056_060.4,60.428,60.528,0.093562,21,UDOT,1.0924,0.9370,1.0104,1.0283,1.0243,5,"LINESTRING (316617.435 4172438.928, 316610.810..."
8721,1760_000.0,0.001,0.678,0.669244,21,UDOT,1.0924,0.9370,1.0104,1.0283,1.0243,5,"LINESTRING (317053.500 4170842.700, 317054.800..."

In [22]:
# filter segments by PLANAREA
_df = gdfSegments#[gdfSegments['PLANAREA'].isin(filterPlanArea)].copy()

## get columns with AADT at beginning of name
#aadt_columns = [col for col in _df.columns if col.startswith('AADT')]
#
## get dataframe for just segids and aadt columns
#_df = _df[['SEGID'] + aadt_columns]
#
## melt to make long
#_df = _df.melt(id_vars='SEGID', var_name='YEAR', value_name='AADT')
#
## filter out zero volumes
#_df = _df[_df['AADT']>0]
#
## get YEAR from string
#_df['YEAR'] = _df['YEAR'].str[-4:].astype(int)
#
## set AADT to int
#_df['AADT'] = _df['AADT'].astype(int)
#
## set source
#_df['SOURCE'] = fnSegmentsShapefile.split('/')[-1]

dfAadtFromSegments = pd.DataFrame()#_df

dfAadtFromSegments

Empty DataFrame
Columns: []
Index: []

# Get Historic Data from AADTHistory UDOT Spreadsheet

In [23]:
#import excel spreadsheet
xl_file1 = pd.ExcelFile(fnExcelAADTHistory)
dfs1 = {sheet_name: xl_file1.parse(sheet_name) for sheet_name in xl_file1.sheet_names}

c:\Users\bhereth\Anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [24]:
#show sheet
display(xl_file1.sheet_names)
dfs1['AADT_2021']

['AADT_2021', 'AADT_Rounded', 'AADT_Unrounded']

         ROUTE_ID  FROM_MEASURE  TO_MEASURE  AADT_2021
0          0006PM         0.000      46.038        474
1          0006PM        46.038      77.556        424
2          0006PM        77.556      82.897        609
3          0006PM        82.897      83.911       2272
4          0006PM        83.911      87.694       3852
...           ...           ...         ...        ...
4568  0015PC29402         0.000       0.199       8886
4569  0015PC29501         0.000       0.166       1000
4570  0015PC30554         0.000       1.135      35025
4571  0092NC00101         0.000       3.294      12201
4572  0092PC00101         0.000       2.829       8174

[4573 rows x 4 columns]

In [25]:
# PREPARE 2021 DATA

df2021 = dfs1['AADT_2021']

df2021['YEAR'] = 2021
df2021.rename(columns={'AADT_2021':'AADT'}, inplace=True)
df2021

         ROUTE_ID  FROM_MEASURE  TO_MEASURE   AADT  YEAR
0          0006PM         0.000      46.038    474  2021
1          0006PM        46.038      77.556    424  2021
2          0006PM        77.556      82.897    609  2021
3          0006PM        82.897      83.911   2272  2021
4          0006PM        83.911      87.694   3852  2021
...           ...           ...         ...    ...   ...
4568  0015PC29402         0.000       0.199   8886  2021
4569  0015PC29501         0.000       0.166   1000  2021
4570  0015PC30554         0.000       1.135  35025  2021
4571  0092NC00101         0.000       3.294  12201  2021
4572  0092PC00101         0.000       2.829   8174  2021

[4573 rows x 5 columns]

In [26]:
# GET AADTS FOR YEARS PRIOR TO 2021

# melt AADT columns to rows
df = dfs1['AADT_Unrounded']

# get all columns that start with 'AADT'
aadt_cols = [col for col in df.columns if col.startswith('AADT')]

# define the id columns that you want to keep
id_vars = ['Route', 'Beg MP', 'End MP']

# melt the DataFrame
dfUnder2021 = df.melt(id_vars=id_vars, value_vars=aadt_cols, var_name='YEAR', value_name='AADT')

# replace 'AADT' in the 'YEAR' column and convert to integer
dfUnder2021['YEAR'] = dfUnder2021['YEAR'].str.replace('AADT', '').astype(int)

# rename columns to match pre-2021 data
dfUnder2021.rename(columns={'Route':'ROUTE_ID','Beg MP':'FROM_MEASURE','End MP':'TO_MEASURE'}, inplace=True)

display(dfUnder2021)

       ROUTE_ID  FROM_MEASURE  TO_MEASURE  YEAR  AADT
0        0006PM         0.000      46.038  2020   430
1        0006PM        46.038      77.556  2020   385
2        0006PM        77.556      82.897  2020   552
3        0006PM        82.897      83.911  2020  2061
4        0006PM        83.911      87.694  2020  3409
...         ...           ...         ...   ...   ...
181475   3468PM         0.000       5.125  1981     0
181476   3469PM         0.000       6.930  1981     0
181477   3470PM         0.000       1.039  1981     0
181478   3478PM         0.000       2.040  1981     0
181479   3483PM         0.000       1.703  1981     0

[181480 rows x 5 columns]

In [27]:
# combine 2021 and under 2021
dfAADT = pd.concat([dfUnder2021,df2021])

# melt for easier joining
dfAADT = pd.pivot_table(dfAADT,index=('ROUTE_ID','FROM_MEASURE','TO_MEASURE'),columns='YEAR',values='AADT')

dfAADT.reset_index(inplace=True)
dfAADT.fillna('0',inplace=True)

# Filter rows with 'ROUTE_ID' containing 'PM' - Positive Direction & Mainline?
dfAADT_filtered = dfAADT[dfAADT['ROUTE_ID'].str.contains('PM')].copy()

# Trim 'ROUTE_ID' down to the first four characters in order to match with SEGID
dfAADT_filtered['ROUTE_ID'] = dfAADT_filtered['ROUTE_ID'].str[:4]

dfAADT_filtered

YEAR,ROUTE_ID,FROM_MEASURE,TO_MEASURE,1981,1982,1983,1984,1985,1986,1987,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0006,0.000,46.038,325.0,335.0,430.0,580.0,585.0,585.0,595.0,...,325.0,330.0,350.0,375.0,399.0,409.0,412.0,415.0,430.0,474.0
1,0006,46.038,77.556,325.0,335.0,430.0,580.0,585.0,585.0,595.0,...,340.0,340.0,360.0,390.0,412.0,366.0,369.0,372.0,385.0,424.0
2,0006,77.556,82.897,520.0,535.0,630.0,780.0,790.0,790.0,800.0,...,420.0,420.0,450.0,480.0,512.0,525.0,529.0,533.0,552.0,609.0
3,0006,82.897,83.911,0.0,1350.0,1450.0,1650.0,1675.0,1600.0,1525.0,...,1570.0,1575.0,1675.0,1800.0,1913.0,1961.0,1975.0,1991.0,2061.0,2272.0
4,0006,83.911,87.694,0.0,2650.0,2750.0,3000.0,3050.0,2920.0,2790.0,...,3270.0,3340.0,3495.0,3660.0,3846.0,3468.0,3496.0,3573.0,3409.0,3852.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4755,3468,0.000,5.125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2015.0,2085.0,2120.0,2245.0,2354.0,2452.0,2550.0,2581.0,2578.0,2764.0
4756,3469,0.000,6.930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,490.0,505.0,515.0,545.0,572.0,333.0,346.0,350.0,350.0,375.0
4757,3470,0.000,1.039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1653.0,1694.0,1724.0,1540.0,1669.0
4758,3478,0.000,2.040,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1055.0,1090.0,1110.0,1175.0,1232.0,865.0,900.0,911.0,910.0,976.0
4759,3483,0.000,1.703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,820.0,850.0,860.0,915.0,958.0,990.0,1030.0,1042.0,1041.0,1116.0

In [28]:
# CHECK FOR DUPLICATES

# Define the columns you want to check for duplicates
columns_to_check = ['ROUTE_ID', 'FROM_MEASURE', 'TO_MEASURE']

# Use the duplicated method to find duplicates in those columns
duplicates = dfAADT_filtered.duplicated(subset=columns_to_check, keep=False)

# Filter the DataFrame to only include the duplicates
dfAADT_duplicates = dfAADT_filtered[duplicates]

display(dfAADT_duplicates)

Empty DataFrame
Columns: [ROUTE_ID, FROM_MEASURE, TO_MEASURE, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
Index: []

[0 rows x 44 columns]

In [29]:
# JOIN DATA BACK TO SEGMENTS FILE AND FILTER WITH MIDPOINT_MP BETWEEN BMP AND EMP

# filter by plan area
_df = gdfSegments#[gdfSegments['PLANAREA'].isin(filterPlanArea)].copy()

# calculate midpoint for 
_df['MIDPOINT_MP'] = (_df['BMP'] + _df['EMP']) / 2
_df['ROUTE_ID'] = _df['SEGID'].str.split('_').str[0]

# get only data needed to join
_df = _df[['SEGID','ROUTE_ID','MIDPOINT_MP']]

# create temp dataframe to merge to segments data
_df2 = pd.DataFrame.merge(_df, dfAADT_filtered, on='ROUTE_ID')

# filter for only segments with midpoints between AADT FROM_MEASURE and TO_MEASURE
_df2 = _df2[_df2['MIDPOINT_MP'].between(_df2['FROM_MEASURE'],_df2['TO_MEASURE'])]

# give me only columns with years
cols_to_keep = [col for col in _df2.columns if str(col).isdigit() and 1981 <= int(col) <= 2021]

# filter by only segid and columns with years
_df2 = _df2[['SEGID']+cols_to_keep]

# melt to make table long
_df2 = _df2.melt(id_vars='SEGID',var_name="YEAR",value_name='AADT')

# convert AADT to int
_df2['AADT'] = _df2['AADT'].astype(int)

# add source
_df2['SOURCE'] = fnExcelAADTHistory.split('/')[-1]

# filter out an zero data
_df2 = _df2[_df2['AADT']>0]

dfAadtFromHistoric = _df2

dfAadtFromHistoric

             SEGID  YEAR  AADT            SOURCE
0       0006_000.0  1981   325  AADTHistory.xlsx
1       0006_000.7  1981   325  AADTHistory.xlsx
2       0006_016.0  1981   325  AADTHistory.xlsx
3       0006_046.0  1981   325  AADTHistory.xlsx
4       0006_060.2  1981   325  AADTHistory.xlsx
...            ...   ...   ...               ...
302411  1788_007.8  2021  2132  AADTHistory.xlsx
302412  1788_003.3  2021  2132  AADTHistory.xlsx
302413  1789_000.0  2021  1780  AADTHistory.xlsx
302414  1800_000.0  2021   786  AADTHistory.xlsx
302415  1760_000.0  2021   691  AADTHistory.xlsx

[178377 rows x 4 columns]

# Wrap up and export

In [30]:
dfAadt = pd.concat([dfAadtFromSegments,dfAadtFromHistoric])
dfAadt = dfAadt.sort_values(by=['SEGID','SOURCE','YEAR'])
dfAadt

             SEGID  YEAR  AADT            SOURCE
0       0006_000.0  1981   325  AADTHistory.xlsx
7376    0006_000.0  1982   335  AADTHistory.xlsx
14752   0006_000.0  1983   430  AADTHistory.xlsx
22128   0006_000.0  1984   580  AADTHistory.xlsx
29504   0006_000.0  1985   585  AADTHistory.xlsx
...            ...   ...   ...               ...
268229  3483_000.0  2017   990  AADTHistory.xlsx
275605  3483_000.0  2018  1030  AADTHistory.xlsx
282981  3483_000.0  2019  1042  AADTHistory.xlsx
290357  3483_000.0  2020  1041  AADTHistory.xlsx
297733  3483_000.0  2021  1116  AADTHistory.xlsx

[178377 rows x 4 columns]

In [31]:
# CHECK NON-NUMERIC SEGIDs!!
dfAadt['SEGID'][dfAadt['SEGID'].str.match(r'[^\d]')].drop_duplicates()

Series([], Name: SEGID, dtype: object)

In [34]:
dfAadt.rename(columns={'AADT':'obsAADT'})

# export AADT
dfAadt.to_csv('intermediate/aadt.csv',index=False)

# export AADT sources
dfAadt[['SOURCE']].drop_duplicates().to_csv('intermediate/aadt-sources.csv',index=False)

## export Forecasts
#dfForecastsFromSegments.to_csv('intermediate/previous-forecasts.csv',index=False)

## export AADT sources
#dfForecastsFromSegments[['SOURCE']].drop_duplicates().to_csv('intermediate/previous-forecasts-sources.csv',index=False)