In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# GLOBAL VARIABLES

dfModelSegSummaries = pd.DataFrame( [
    [0, 2019, 'data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/BY2019_Summary_SEGID.csv'      ],
    [0, 2023, 'data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/OY2023_Summary_SEGID.csv'      ],
    [0, 2028, 'data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/STIP2028_Summary_SEGID.csv'    ],
    [0, 2032, 'data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/FY2032_Summary_SEGID.csv'      ],
    [0, 2042, 'data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/FY2042_Summary_SEGID.csv'      ],
    [0, 2050, 'data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/FY2050_Summary_SEGID.csv'      ],
    [1, 2019, 'data/model-output/1_WF/v9_SE19_Net19_Summary_SEGID.csv'                         ],
    [1, 2023, 'data/model-output/1_WF/v9_SE23_Net23_Summary_SEGID.csv'                         ],
    [1, 2028, 'data/model-output/1_WF/v9_TIP_SE28_Net28_Summary_SEGID.csv'                     ],
    [1, 2032, 'data/model-output/1_WF/v9_RTP_SE32_Net32_Summary_SEGID.csv'                     ],
    [1, 2042, 'data/model-output/1_WF/v9_RTP_SE42_Net42_Summary_SEGID.csv'                     ],
    [1, 2050, 'data/model-output/1_WF/v9_RTP_SE50_Net50_Summary_SEGID.csv'                     ],
    [2, 2019, 'data/model-output/2_Cache/BY2019_Summary_SEGID.dbf'                             ],
    [2, 2023, 'data/model-output/2_Cache/BY2023_Summary_SEGID.dbf'                             ],
    [2, 2028, 'data/model-output/2_Cache/STIP_2028_Summary_SEGID.dbf'                          ],
    [2, 2032, 'data/model-output/2_Cache/FY2032_Summary_SEGID.dbf'                             ],
    [2, 2042, 'data/model-output/2_Cache/FY2042_Summary_SEGID.dbf'                             ],
    [2, 2050, 'data/model-output/2_Cache/FY2050_Summary_SEGID.dbf'                             ],
    [3, 2019, 'data/model-output/3_Dixie/Summary_SEGID_19.dbf'                                 ],
    [3, 2023, 'data/model-output/3_Dixie/Summary_SEGID_23.dbf'                                 ],
    [3, 2028, 'data/model-output/3_Dixie/Summary_SEGID_28.dbf'                                 ],
    [3, 2032, 'data/model-output/3_Dixie/Summary_SEGID_32.dbf'                                 ],
    [3, 2042, 'data/model-output/3_Dixie/Summary_SEGID_42.dbf'                                 ],
    [3, 2050, 'data/model-output/3_Dixie/Summary_SEGID_50.dbf'                                 ],
    [4, 2019, 'data/model-output/4_SuWsv2_2023-09-13_DRAFT/BY2019_Summary_SEGID.dbf'           ],
    [4, 2023, 'data/model-output/4_SuWsv2_2023-09-13_DRAFT/OY2023_Summary_SEGID.dbf'           ],
    [4, 2028, 'data/model-output/4_SuWsv2_2023-09-13_DRAFT/STIP2028_Summary_SEGID.dbf'         ],
    [4, 2032, 'data/model-output/4_SuWsv2_2023-09-13_DRAFT/FY2032_Summary_SEGID.dbf'           ],
    [4, 2042, 'data/model-output/4_SuWsv2_2023-09-13_DRAFT/FY2042_Summary_SEGID.dbf'           ],
    [4, 2050, 'data/model-output/4_SuWsv2_2023-09-13_DRAFT/FY2050_Summary_SEGID.dbf'           ],
    [5, 2019, 'data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/BY2019_Summary_SEGID.dbf'  ],
    [5, 2023, 'data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/OY2023_Summary_SEGID.dbf'  ],
    [5, 2028, 'data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/STIP2028_Summary_SEGID.dbf'],
    [5, 2032, 'data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/FY2032_Summary_SEGID.dbf'  ],
    [5, 2042, 'data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/FY2042_Summary_SEGID.dbf'  ],
    [5, 2050, 'data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/FY2050_Summary_SEGID.dbf'  ]
], columns=('modSubareaId','modYear','modSegSummaryFile'))

#display(dfModelSegSummaries)

# seg summary fields to be useds
use_fields = ['SEGID','DY_VOL','FT','ATYPENAME','LANES']

# segment shapefile with AADT and previous forecasts - copied from 'A:/1 - TDM/3 - Model Dev/1 - WF/1 - Official Release/v9x/v9.0/WF TDM v9.0 - official/1_Inputs/6_Segment/Segments_WF - 2023-08-01.shp'
fnSegmentsShapefile = 'data/segments/Final_Segments_BMP_EMP.shp'

# field for weekday factor
colFacWdAvg = 'FAC_WDAVG'
colFacWin = 'FAC_WIN'
colFacSpr = 'FAC_SPR'
colFacSum = 'FAC_SUM'
colFacFal = 'FAC_FAL'

# SHOULD WE ADJUST WEEKDAY FACTOR INTO FUTURE?? 

# base year adjustment
# segment shapefile with AADT and previous forecasts - copied from 'A:/1 - TDM/3 - Model Dev/1 - WF/1 - Official Release/v9x/v9.0/WF TDM v9.0 - official/1_Inputs/6_Segment/Segments_WF - 2023-08-01.shp'
sourceName = 'AADTHistory.xlsx'
baseYear = 2019

In [3]:
# Required libraries
from dbfread import DBF
import pandas as pd

# Create a list to store DataFrames read from each file
frames = []

# Iterate through the rows and read each file
for index, row in dfModelSegSummaries.iterrows():
    # Prepend path with 'dbfs:/'
    file_path = row['modSegSummaryFile']
    print(file_path)
    
    # Check the file extension
    if file_path.endswith('.dbf'):
        # Read the .dbf file with dbfread
        table = DBF(file_path)
        df = pd.DataFrame(iter(table))  # Convert the DBF table to a DataFrame
    elif file_path.endswith('.csv'):
        df = pd.read_csv(file_path)
    else:
        # If the file is neither .csv nor .dbf, skip this iteration
        print(f"Unsupported file format for file: {file_path}")
        continue

    df = df[use_fields]
    df['YEAR'     ] = row['modYear'     ] # Add modYear column
    df['SUBAREAID'] = row['modSubareaId'] # Add modSubareaId column
    frames.append(df)

# Concatenate all the frames into a single DataFrame
dfMdlVol = pd.concat(frames, ignore_index=True)

# If you're using Databricks, use 'display' to show the DataFrame
display(dfMdlVol)

data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/BY2019_Summary_SEGID.csv

C:\Users\bhereth\AppData\Local\Temp\ipykernel_3116\1412907378.py:20: DtypeWarning: Columns (153) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/OY2023_Summary_SEGID.csv

C:\Users\bhereth\AppData\Local\Temp\ipykernel_3116\1412907378.py:20: DtypeWarning: Columns (153) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/STIP2028_Summary_SEGID.csv

C:\Users\bhereth\AppData\Local\Temp\ipykernel_3116\1412907378.py:20: DtypeWarning: Columns (153) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/FY2032_Summary_SEGID.csv

C:\Users\bhereth\AppData\Local\Temp\ipykernel_3116\1412907378.py:20: DtypeWarning: Columns (153) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/FY2042_Summary_SEGID.csv
data/model-output/0_USTM_v3.0 - 2023-08-17_DRAFT/FY2050_Summary_SEGID.csv
data/model-output/1_WF/v9_SE19_Net19_Summary_SEGID.csv
data/model-output/1_WF/v9_SE23_Net23_Summary_SEGID.csv
data/model-output/1_WF/v9_TIP_SE28_Net28_Summary_SEGID.csv
data/model-output/1_WF/v9_RTP_SE32_Net32_Summary_SEGID.csv
data/model-output/1_WF/v9_RTP_SE42_Net42_Summary_SEGID.csv
data/model-output/1_WF/v9_RTP_SE50_Net50_Summary_SEGID.csv
data/model-output/2_Cache/BY2019_Summary_SEGID.dbf
data/model-output/2_Cache/BY2023_Summary_SEGID.dbf
data/model-output/2_Cache/STIP_2028_Summary_SEGID.dbf
data/model-output/2_Cache/FY2032_Summary_SEGID.dbf
data/model-output/2_Cache/FY2042_Summary_SEGID.dbf
data/model-output/2_Cache/FY2050_Summary_SEGID.dbf
data/model-output/3_Dixie/Summary_SEGID_19.dbf
data/model-output/3_Dixie/Summary_SEGID_23.dbf
data/model-output/3_Dixie/Summary_SEGID_28.dbf
data/model-output/3_Dixie/Summary_SEGID_32.dbf
data/model-output/3_Dixie/Summary_SEGID_42.dbf
data/model-output/3_Dixie/Summary_SEGID_50.dbf
data/model-output/4_SuWsv2_2023-09-13_DRAFT/BY2019_Summary_SEGID.dbf
data/model-output/4_SuWsv2_2023-09-13_DRAFT/OY2023_Summary_SEGID.dbf
data/model-output/4_SuWsv2_2023-09-13_DRAFT/STIP2028_Summary_SEGID.dbf
data/model-output/4_SuWsv2_2023-09-13_DRAFT/FY2032_Summary_SEGID.dbf
data/model-output/4_SuWsv2_2023-09-13_DRAFT/FY2042_Summary_SEGID.dbf
data/model-output/4_SuWsv2_2023-09-13_DRAFT/FY2050_Summary_SEGID.dbf
data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/BY2019_Summary_SEGID.dbf
data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/OY2023_Summary_SEGID.dbf
data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/STIP2028_Summary_SEGID.dbf
data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/FY2032_Summary_SEGID.dbf
data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/FY2042_Summary_SEGID.dbf
data/model-output/5_IronCo - v1.0 - 2023-09-13_DRAFT/FY2050_Summary_SEGID.dbf

            SEGID  DY_VOL   FT   ATYPENAME  LANES  YEAR  SUBAREAID
0      Cache_4013   659.7  6.0  Transition    1.0  2019          0
1      0006_000.0   126.7  2.0  Rural         1.0  2019          0
2      0006_000.7   213.3  2.0  Rural         1.0  2019          0
3      0006_016.0    76.6  2.0  Rural         1.0  2019          0
4      0006_046.0    76.6  2.0  Rural         1.0  2019          0
...           ...     ...  ...         ...    ...   ...        ...
77542  3217_008.3  2708.0  3.0       Rural    2.0  2050          5
77543  3218_006.4    59.2  5.0       Rural    2.0  2050          5
77544          NO   461.9  6.0       Rural    2.0  2050          5
77545   UDOT_7008   462.4  4.0  Transition    2.0  2050          5
77546   UDOT_7043   224.0  4.0  Transition    2.0  2050          5

[77547 rows x 7 columns]

In [4]:
dfMdlVol[dfMdlVol['YEAR']==0]

Empty DataFrame
Columns: [SEGID, DY_VOL, FT, ATYPENAME, LANES, YEAR, SUBAREAID]
Index: []

In [5]:
# GET WEEKDAY FACTORS

# read in segment shapefile
gdfSegments = gpd.read_file(fnSegmentsShapefile)
dfFac = gdfSegments[['SEGID', 'SUBAREAID', 'CO_FIPS', colFacWdAvg, colFacWin, colFacSpr, colFacSum, colFacFal]].copy()

display(dfFac)

,SEGID,SUBAREAID,CO_FIPS,FAC_WDAVG,FAC_WIN,FAC_SPR,FAC_SUM,FAC_FAL
0,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316
1,0006_000.7,0,27,0.9840,0.8495,1.0276,1.0914,1.0316
2,0006_016.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316
3,0006_046.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316
4,0006_060.2,0,27,0.9840,0.8495,1.0276,1.0914,1.0316
...,...,...,...,...,...,...,...,...
8717,0056_060.2,5,21,1.0924,0.9370,1.0104,1.0283,1.0243
8718,0056_060.6,5,21,1.0946,0.9653,1.0117,1.0135,1.0095
8719,0056_060.5,5,21,1.0946,0.9653,1.0117,1.0135,1.0095
8720,0056_060.4,5,21,1.0924,0.9370,1.0104,1.0283,1.0243
8721,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243

In [6]:
dfFac.loc[(dfFac['FAC_WDAVG']==0), 'checkZero'] = 1
dfFac.groupby(['SUBAREAID'],as_index = False).agg(numSegs=('SEGID','count'),numSegsWithFacZero=('checkZero','sum'))

   SUBAREAID  numSegs  numSegsWithFacZero
0          0     2577                 0.0
1          1     4414               125.0
2          2      489                 0.0
3          3      614                 0.0
4          4      379                 0.0
5          5      249                 0.0

In [7]:
dfFac.replace('None', 0, inplace=True)
dfFac.fillna(0, inplace=True)

# Filter columns that start with "colFac"
fac_cols = [col for col in dfFac.columns if col.startswith('FAC_')]

dfFac[fac_cols] = dfFac[fac_cols].astype(float)

# Calculate the average of non-zero values for each "colFac" column by SUBAREAID
averages = {}
for col in fac_cols:
    averages[col] = dfFac[dfFac[col] != 0].groupby(['CO_FIPS'])[col].mean().to_dict()

print(averages)

def get_average_value(averages, column_name, co_fips):
    return averages.get(column_name, {}).get(co_fips, None)

{'FAC_WDAVG': {0: 1.0409166666666667, 1: 1.0060729166666667, 3: 1.0167221518987342, 5: 1.0633524489795918, 7: 1.0439963855421688, 9: 0.9685625, 11: 1.0930815352697096, 13: 0.9918183783783784, 15: 0.9869570247933884, 17: 0.9615215189873417, 19: 0.945358510638298, 21: 1.0189862903225808, 23: 1.0090029126213593, 25: 0.9667430769230769, 27: 0.9856744047619047, 29: 0.9840450000000001, 31: 0.9678333333333333, 33: 0.8772305555555555, 35: 1.0886187892632782, 37: 0.9676605263157896, 39: 0.9937018633540372, 41: 1.0115112195121951, 43: 1.0081473170731707, 45: 1.0446469325153376, 47: 1.0238054545454545, 49: 1.073645017921147, 51: 1.04265, 53: 1.0647285481239803, 55: 0.9635573770491803, 57: 1.0778987719298245}, 'FAC_WIN': {0: 0.8601333333333333, 1: 0.85385, 3: 0.8676534810126582, 5: 0.9028461224489797, 7: 0.8778006024096385, 9: 0.6991875, 11: 0.9377197095435685, 13: 0.834352972972973, 15: 0.7790024793388429, 17: 0.6245329113924051, 19: 0.572613829787234, 21: 0.8532302419354839, 23: 0.8554233009708737, 25: 0.6519923076923076, 27: 0.8495654761904762, 29: 0.769975, 31: 0.6327333333333334, 33: 0.5951722222222222, 35: 0.9476529982866934, 37: 0.6330532894736842, 39: 0.8063956521739131, 41: 0.8203439024390244, 43: 0.9425448780487805, 45: 0.8949785276073621, 47: 0.8730036363636363, 49: 0.9200794265232975, 51: 0.8778586206896551, 53: 0.9810298531810767, 55: 0.6137442622950819, 57: 0.9269798245614036}, 'FAC_SPR': {0: 1.017825, 1: 1.0235833333333333, 3: 1.0085072784810127, 5: 1.0034773469387754, 7: 1.0081487951807229, 9: 0.9432625, 11: 1.00942489626556, 13: 0.9908621621621623, 15: 0.9935900826446281, 17: 1.001612658227848, 19: 1.1254797872340425, 21: 0.9987576612903226, 23: 1.0113135922330097, 25: 1.0060476923076922, 27: 1.0246261904761904, 29: 0.928625, 31: 1.0201666666666667, 33: 0.7767083333333333, 35: 1.0096360365505426, 37: 1.025495394736842, 39: 0.9843354037267081, 41: 1.0140853658536584, 43: 0.9108590243902439, 45: 1.0120840490797545, 47: 1.0153322727272727, 49: 1.0093124014336918, 51: 0.991019540229885, 53: 1.0245013050570964, 55: 1.0146885245901638, 57: 1.0079715789473684}, 'FAC_SUM': {0: 1.0980166666666666, 1: 1.0924979166666666, 3: 1.1013924050632913, 5: 1.0749204081632653, 7: 1.0912734939759037, 9: 1.3782125, 11: 1.0335966804979253, 13: 1.1508475675675676, 15: 1.2182735537190084, 17: 1.3354607594936707, 19: 1.250868085106383, 21: 1.1131495967741936, 23: 1.1125941747572816, 25: 1.301450769230769, 27: 1.0983934523809524, 29: 1.2827375, 31: 1.3169666666666666, 33: 1.723761111111111, 35: 1.0269508280982296, 37: 1.310245394736842, 39: 1.2033453416149067, 41: 1.1420839024390244, 43: 1.1705146341463413, 45: 1.067553374233129, 47: 1.0848118181818183, 49: 1.0501355555555556, 51: 1.1108637931034482, 53: 0.9783722675367048, 55: 1.3416524590163934, 57: 1.046081403508772}, 'FAC_FAL': {0: 1.0240416666666667, 1: 1.03013125, 3: 1.0224721518987343, 5: 1.0187695918367348, 7: 1.022805421686747, 9: 0.9794375000000001, 11: 1.019259958506224, 13: 1.0239724324324324, 15: 1.0091570247933885, 17: 1.03833417721519, 19: 1.0510127659574469, 21: 1.0348995967741936, 23: 1.0207067961165048, 25: 1.0404723076923077, 27: 1.027485119047619, 29: 1.0186825000000002, 31: 1.0300666666666667, 33: 0.9043972222222223, 35: 1.015762364363221, 37: 1.0311427631578947, 39: 1.0059515527950311, 41: 1.0234965853658538, 43: 0.9760331707317074, 45: 1.025409509202454, 47: 1.0268913636363637, 49: 1.020483440860215, 51: 1.02026091954023, 53: 1.016095758564437, 55: 1.0298344262295083, 57: 1.0189663157894737}}

In [8]:
import numpy as np

# Your existing code for merging and filling NA
_df = pd.DataFrame.merge(dfFac, dfMdlVol, on=('SEGID','SUBAREAID'), how='inner')
_df.fillna(0, inplace=True)

# calculate AADT by subareaid
# 0-USTM: AADT already
# 2-5: divide by colWeekdayFactor

def custom_function(row):
    if row['SUBAREAID'] == 0:
        return row['DY_VOL']
    if row['SUBAREAID'] in [1,2,3,4,5]:
        if row[colFacWdAvg] > 0:
            return row['DY_VOL'] / row[colFacWdAvg]
        else:
            return row['DY_VOL'] / get_average_value(averages, colFacWdAvg, row['CO_FIPS']) # MAYBE REPLACE IN THE FUTURE WITH BETTER CODE
    else:
        return -1

_df['modAadt'] = _df.apply(custom_function, axis=1)


# Convert to integer as you had before
_df['modAadt'] = _df['modAadt'].astype(int)

dfModAadt = _df

# Display the DataFrame
display(dfModAadt)

,SEGID,SUBAREAID,CO_FIPS,FAC_WDAVG,FAC_WIN,FAC_SPR,FAC_SUM,FAC_FAL,checkZero,DY_VOL,FT,ATYPENAME,LANES,YEAR,modAadt
0,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,126.7,2.0,Rural,1.0,2019,126
1,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,99.7,2.0,Rural,1.0,2023,99
2,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,101.7,2.0,Rural,1.0,2028,101
3,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,103.6,2.0,Rural,1.0,2032,103
4,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,107.9,2.0,Rural,1.0,2042,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45252,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,4413.3,4.0,Suburban,2.0,2023,4040
45253,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,4850.8,4.0,Suburban,2.0,2028,4440
45254,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,5019.6,4.0,Suburban,2.0,2032,4595
45255,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,5603.1,4.0,Suburban,2.0,2042,5129
45256,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,6093.9,4.0,Suburban,2.0,2050,5578

In [9]:
# SHOW WHERE FAC_WDAVG is 0... KEEP ZERO UNTIL FIGURE OUT WHAT TO DO!
dfModAadt[dfModAadt['YEAR']==0]

Empty DataFrame
Columns: [SEGID, SUBAREAID, CO_FIPS, FAC_WDAVG, FAC_WIN, FAC_SPR, FAC_SUM, FAC_FAL, checkZero, DY_VOL, FT, ATYPENAME, LANES, YEAR, modAadt]
Index: []

In [10]:
_df = pd.read_csv('intermediate/aadt.csv')
_df

             SEGID  YEAR  AADT            SOURCE
0       0006_000.0  1981   325  AADTHistory.xlsx
1       0006_000.0  1982   335  AADTHistory.xlsx
2       0006_000.0  1983   430  AADTHistory.xlsx
3       0006_000.0  1984   580  AADTHistory.xlsx
4       0006_000.0  1985   585  AADTHistory.xlsx
...            ...   ...   ...               ...
178372  3483_000.0  2017   990  AADTHistory.xlsx
178373  3483_000.0  2018  1030  AADTHistory.xlsx
178374  3483_000.0  2019  1042  AADTHistory.xlsx
178375  3483_000.0  2020  1041  AADTHistory.xlsx
178376  3483_000.0  2021  1116  AADTHistory.xlsx

[178377 rows x 4 columns]

In [11]:
# GET BASE YEAR OBSERVED

# read intermediate CSV with base year observed AADT
_df = pd.read_csv('intermediate/aadt.csv')

# filter by source and year
_df = _df[(_df['SOURCE']==sourceName) & (_df['YEAR']<=baseYear)]

# get max row of max year for each segid... incase there is no observed 2019 data, but maybe a earlier year
# Then, group by 'SEGID' and find the index of the maximum 'YEAR' for each group
idx = _df.groupby('SEGID')['YEAR'].idxmax()

# Use the index to filter the rows
_df = _df.loc[idx]

_df = _df[['SEGID','AADT']]
_df.rename(columns={'AADT':'obsAadt'}, inplace=True)

dfObsAadt_BaseYear = _df

display(dfObsAadt_BaseYear)

             SEGID  obsAadt
37      0006_000.0      415
77      0006_000.7      415
117     0006_016.0      415
157     0006_046.0      372
197     0006_060.2      372
...            ...      ...
178327  3468_000.0     2581
178339  3469_000.0      350
178344  3470_000.0     1724
178359  3478_000.0      911
178374  3483_000.0     1042

[7091 rows x 2 columns]

In [12]:
# CALCULATE ADJUSTMENT FACTOR FROM BASE YEAR MODEL VS OBSERVED
dfModAadt_BaseYear = dfModAadt[dfModAadt['YEAR']==2019]

_df = pd.DataFrame.merge(dfModAadt_BaseYear[use_fields + ['modAadt']], dfObsAadt_BaseYear[['SEGID','obsAadt']], on='SEGID', how='left')
_df.fillna(0,inplace=True)

_df['aadtAdjFactor'] = _df['obsAadt'] - _df['modAadt']

_df.loc[(_df['obsAadt']==0), 'aadtAdjFactor'] = 0

display(_df[_df['modAadt']==0])

dfModAdjFactor = _df[['SEGID','aadtAdjFactor']]

display(dfModAdjFactor)

,SEGID,DY_VOL,FT,ATYPENAME,LANES,modAadt,obsAadt,aadtAdjFactor
189,0021_077.2,0.0,3.0,Transition,1.0,0,2605.0,2605.0
246,0025_000.0,0.0,4.0,Rural,1.0,0,179.0,179.0
247,0025_002.9,0.0,4.0,Rural,1.0,0,179.0,179.0
904,0122_000.0,0.0,4.0,Rural,1.0,0,77.0,77.0
918,0128_000.0,0.0,4.0,Rural,1.0,0,1055.0,1055.0
...,...,...,...,...,...,...,...,...
6789,Dixie_5091,0.0,3.0,Rural,2.0,0,0.0,0.0
6797,Dixie_5176,0.0,3.0,Rural,2.0,0,0.0,0.0
7023,2610_017.8,0.0,4.0,Rural,2.0,0,192.0,192.0
7258,1746_000.0,0.0,7.0,Rural,2.0,0,0.0,0.0
7292,1767_000.2,0.0,4.0,Urban,2.0,0,2732.0,2732.0

           SEGID  aadtAdjFactor
0     0006_000.0          289.0
1     0006_000.7          202.0
2     0006_016.0          339.0
3     0006_046.0          296.0
4     0006_060.2          292.0
...          ...            ...
7366  0015_056.8        10026.0
7367  0015_058.8         3062.0
7368  0056_060.2        -4564.0
7369  0056_060.5        -2000.0
7370  1760_000.0        -3042.0

[7371 rows x 2 columns]

In [13]:
# Function to round based on the given ranges
def custom_rounding(value):
    if 0 <= value < 100:
        return round(value / 10) * 10
    elif 100 <= value < 1000:
        return round(value / 50) * 50
    elif 1000 <= value < 10000:
        return round(value / 100) * 100
    elif 10000 <= value < 100000:
        return round(value / 500) * 500
    elif value >= 100000:
        return round(value / 1000) * 1000
    else:
        return value

In [14]:
# ADJUST ALL MODEL VOLUMES BASED ON BASE YEAR ADJ FACTOR

dfModWithAdj = pd.DataFrame.merge(dfModAadt, dfModAdjFactor, on='SEGID', how='left')
dfModWithAdj['aadtAdjFactor'].fillna(0,inplace=True)
dfModWithAdj['modForecast'] = (dfModWithAdj['modAadt'] + dfModWithAdj['aadtAdjFactor']).apply(custom_rounding)
dfModWithAdj

# remove 2019 since it is base
#dfModWithAdjNo2019 = dfModWithAdj[dfModWithAdj['YEAR']>2019]

# sort
#dfModWithAdjNo2019 = dfModWithAdjNo2019.sort_values(by=['SEGID', 'YEAR'], ascending=[True, True])

#dfModWithAdjNo2019

,SEGID,SUBAREAID,CO_FIPS,FAC_WDAVG,FAC_WIN,FAC_SPR,FAC_SUM,FAC_FAL,checkZero,DY_VOL,FT,ATYPENAME,LANES,YEAR,modAadt,aadtAdjFactor,modForecast
0,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,126.7,2.0,Rural,1.0,2019,126,289.0,400.0
1,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,99.7,2.0,Rural,1.0,2023,99,289.0,400.0
2,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,101.7,2.0,Rural,1.0,2028,101,289.0,400.0
3,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,103.6,2.0,Rural,1.0,2032,103,289.0,400.0
4,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,107.9,2.0,Rural,1.0,2042,107,289.0,400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45252,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,4413.3,4.0,Suburban,2.0,2023,4040,-3042.0,1000.0
45253,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,4850.8,4.0,Suburban,2.0,2028,4440,-3042.0,1400.0
45254,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,5019.6,4.0,Suburban,2.0,2032,4595,-3042.0,1600.0
45255,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,5603.1,4.0,Suburban,2.0,2042,5129,-3042.0,2100.0
45256,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,6093.9,4.0,Suburban,2.0,2050,5578,-3042.0,2500.0

In [15]:
# check if base year adjusted equals base year observed

_df1 = dfModWithAdj[dfModWithAdj['YEAR']==baseYear]
_df2 = dfObsAadt_BaseYear

_df3 = pd.DataFrame.merge(_df1, _df2, on='SEGID')

_df3['ModVsObs'] = _df3['modForecast'] - _df3['obsAadt']

display(_df3[_df3['ModVsObs']!=0])

,SEGID,SUBAREAID,CO_FIPS,FAC_WDAVG,FAC_WIN,FAC_SPR,FAC_SUM,FAC_FAL,checkZero,DY_VOL,FT,ATYPENAME,LANES,YEAR,modAadt,aadtAdjFactor,modForecast,obsAadt,ModVsObs
0,0006_000.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,126.7,2.0,Rural,1.0,2019,126,289.0,400.0,415,-15.0
1,0006_000.7,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,213.3,2.0,Rural,1.0,2019,213,202.0,400.0,415,-15.0
2,0006_016.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,76.6,2.0,Rural,1.0,2019,76,339.0,400.0,415,-15.0
3,0006_046.0,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,76.6,2.0,Rural,1.0,2019,76,296.0,350.0,372,-22.0
4,0006_060.2,0,27,0.9840,0.8495,1.0276,1.0914,1.0316,0.0,80.4,2.0,Rural,1.0,2019,80,292.0,350.0,372,-22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6619,0015_056.8,5,21,1.0654,0.9401,1.0094,1.0374,1.0131,0.0,23216.0,35.0,Suburban,4.0,2019,21790,10026.0,32000.0,31816,184.0
6620,0015_058.8,5,21,0.9701,0.8713,1.0026,1.1123,1.0138,0.0,27277.1,35.0,Suburban,4.0,2019,28117,3062.0,31000.0,31179,-179.0
6621,0056_060.2,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,19451.9,2.0,Suburban,4.0,2019,17806,-4564.0,13000.0,13242,-242.0
6622,0056_060.5,5,21,1.0946,0.9653,1.0117,1.0135,1.0095,0.0,20705.4,2.0,Suburban,4.0,2019,18915,-2000.0,17000.0,16915,85.0
6623,1760_000.0,5,21,1.0924,0.9370,1.0104,1.0283,1.0243,0.0,4102.7,4.0,Suburban,2.0,2019,3755,-3042.0,700.0,713,-13.0

In [16]:
# export final file
dfModWithAdj.to_csv('intermediate/model-forecasts.csv', index=False)

In [17]:
dfModWithAdj[dfModWithAdj['SEGID']=='WFRC_8019']

,SEGID,SUBAREAID,CO_FIPS,FAC_WDAVG,FAC_WIN,FAC_SPR,FAC_SUM,FAC_FAL,checkZero,DY_VOL,FT,ATYPENAME,LANES,YEAR,modAadt,aadtAdjFactor,modForecast
35154,WFRC_8019,1,11,1.1568,0.9529,1.0112,1.0254,1.0105,0.0,24063.8,33.0,Suburban,4.0,2028,20802,0.0,21000.0
35155,WFRC_8019,1,11,1.1568,0.9529,1.0112,1.0254,1.0105,0.0,28462.7,33.0,Suburban,4.0,2032,24604,0.0,24500.0
35156,WFRC_8019,1,11,1.1568,0.9529,1.0112,1.0254,1.0105,0.0,31901.0,33.0,Suburban,4.0,2042,27576,0.0,27500.0
35157,WFRC_8019,1,11,1.1568,0.9529,1.0112,1.0254,1.0105,0.0,36437.5,33.0,Suburban,4.0,2050,31498,0.0,31500.0